<app-header></app-header>
<div id="head" class="jumbotron">
  <h1 class="display-4">Education</h1>
  <div class="row">
    <div class="col-sm"><h2 style="text-align: center; cursor: pointer" (click)="scrollTo(advancedAlgorithms)">Advanced
      Algorithms</h2></div>
    <div class="col-sm"><h2 style="text-align: center; cursor: pointer" (click)="scrollTo(programmablematter)">
      Distributed Algorithms</h2></div>
    <div class="col-sm"><h2 style="text-align: center; cursor: pointer" (click)="scrollTo(imagesynthesis)">Image
      synthesis</h2></div>
    <div class="col-sm"><h2 style="text-align: center; cursor: pointer" (click)="scrollTo(webgl)">Real-time
      interactions</h2>
    </div>
  </div>
</div>

<div class="container">
  <h2 #advancedAlgorithms class="subtitles display-4">Advanced algorithms</h2>
  <button (click)="isAdvancedAlgorithmsCollapsed = !isAdvancedAlgorithmsCollapsed"
          class="btn btn-outline-primary btn-toggle"><span class="fa" [ngClass]="{
    'fa-plus' : isAdvancedAlgorithmsCollapsed,
    'fa-minus' : !isAdvancedAlgorithmsCollapsed
  }"></span></button>
  <div *ngIf="!isAdvancedAlgorithmsCollapsed">
    <h3>Course materials</h3>
    <div class="row">
      <div class="col-sm card" style="width: 18rem;">
        <img src="assets/adv_algo/img_advanced_algo.png" class="card-img-top" alt="Advanced Algorithm Book">
        <div class="card-body">
          <h5 class="card-title">Advanced Algorithm Book</h5>
          <p class="card-text">Courses and exercises in C++ on advanced algorithms.</p>
        </div>
        <div class="card-footer">
          <ul>
            <li style="list-style: none" routerLinkActive="active">
              <a class="btn btn-secondary" target="_blank"
                 href="https://etudiants-stgi.pu-pm.univ-fcomte.fr/tp_bpiranda/doc/booklet.pdf"><span
                class="fa fa-book"></span>&nbsp;Booklet</a>
            </li>
            <li style="list-style: none" routerLinkActive="active">
              <a class="btn btn-secondary" target="_blank"
                 href="https://etudiants-stgi.pu-pm.univ-fcomte.fr/tp_bpiranda/adv_algo/distributed algorithms.pdf"><span
                class="fa fa-book"></span>&nbsp;Dist.Prog</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-sm card" style="width: 18rem;">
        <img src="assets/adv_algo/img_algoCpp.png" class="card-img-top" alt="C++ Basic Slides">
        <div class="card-body">
          <h5 class="card-title">C++ Basics Slides</h5>
          <p class="card-text">Reminder of the elements of C++ to know.</p>
        </div>
        <div class="card-footer">
          <ul>
            <li style="list-style: none" routerLinkActive="active">
              <a class="btn btn-secondary" target="_blank"
                 href="https://etudiants-stgi.pu-pm.univ-fcomte.fr/tp_bpiranda/adv_algo/cplusplusitems.pdf"><span
                class="fa fa-graduation-cap"></span>&nbsp;Slides</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-sm card" style="width: 18rem;">
      <img src="assets/adv_algo/img_treeAndSlot.png" class="card-img-top" alt="Tree and tips">
      <div class="card-body">
        <h5 class="card-title">N-ary tree storing and crossing</h5>
        <p class="card-text">Example of usage of Slots and Signals.</p>
      </div>
      <div class="card-footer">
        <ul>
          <li style="list-style: none" routerLinkActive="active">
            <a class="btn btn-secondary" target="_blank"
               href="https://etudiants-stgi.pu-pm.univ-fcomte.fr/tp_bpiranda/adv_algo/treeTraversals.pdf"><span
              class="fa fa-graduation-cap"></span>&nbsp;Slides</a>
          </li>
          <li style="list-style: none" routerLinkActive="active">
            <a class="btn btn-secondary" target="_blank"
               href="https://etudiants-stgi.pu-pm.univ-fcomte.fr/tp_bpiranda/adv_algo/QtMySignalAndSlot.zip"><span
              class="fa fa-wrench"></span>&nbsp;Code</a>
          </li>
        </ul>
      </div>
    </div>
    </div>
    <div class="row">
      <div class="col-sm card" style="width: 18rem;">
        <img src="assets/adv_algo/img_graph.png" class="card-img-top" alt="Tree and tips">
        <div class="card-body">
          <h5 class="card-title">Storing, manipulating and drawing Graphs in C++/Qt.</h5>
          <p class="card-text">Graphs representation, eccentricity and diameter, loading Json files with Qt.</p>
        </div>
        <div class="card-footer">
          <ul>
            <li style="list-style: none" routerLinkActive="active">
              <a class="btn btn-secondary" target="_blank"
                 href="https://etudiants-stgi.pu-pm.univ-fcomte.fr/tp_bpiranda/adv_algo/storeGraphs.pdf"><span
                class="fa fa-graduation-cap"></span>&nbsp;Slides</a>
            </li>
            <li style="list-style: none" routerLinkActive="active">
              <a class="btn btn-secondary" target="_blank"
                 href="https://etudiants-stgi.pu-pm.univ-fcomte.fr/tp_bpiranda/adv_algo/QtGraphs.zip"><span
                class="fa fa-code"></span>&nbsp;Graphs</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-sm card" style="width: 18rem;">
        <img src="assets/adv_algo/img_geometric_algo_slides.png" class="card-img-top" alt="Geometric Algorithms Slides">
        <div class="card-body">
          <h5 class="card-title">Geometric Algorithms Slides</h5>
          <p class="card-text">A set of algorithms on Polygons to be able to convert a cloud of points into a Voronoi
            diagram.</p>
        </div>
        <div class="card-footer">
          <ul>
            <li style="list-style: none" routerLinkActive="active">
              <a class="btn btn-secondary" target="_blank"
                 href="https://etudiants-stgi.pu-pm.univ-fcomte.fr/tp_bpiranda/adv_algo/geometric_algorithms.pdf"><span
                class="fa fa-graduation-cap"></span>&nbsp;Slides</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-sm card" style="width: 18rem;">
        <img src="assets/adv_algo/img_distAlgoBasics.png" class="card-img-top" alt="Distributed Algorithms Slides">
        <div class="card-body">
          <h5 class="card-title">Distributed Algorithms Basics</h5>
          <p class="card-text">Some basics on distributed algorithms, broadcast, forcast and creating a spanning tree.</p>
        </div>
        <div class="card-footer">
          <ul>
            <li style="list-style: none" routerLinkActive="active">
              <a class="btn btn-secondary" target="_blank"
                 href="https://etudiants-stgi.pu-pm.univ-fcomte.fr/tp_bpiranda/adv_algo/distributed_algorithms.pdf"><span
                class="fa fa-graduation-cap"></span>&nbsp;Slides</a>
            </li>
            <li style="list-style: none" routerLinkActive="active">
              <a class="btn btn-secondary" target="_blank"
                 href="https://gitlab.com/benoit.piranda/qtdistalgosim"><span
                class="fab fa-gitlab"></span>&nbsp;Gitlab</a>
            </li>
          </ul>
        </div>
      </div>
      <!--div class="col-sm card" style="width: 18rem;">
        <img src="assets/adv_algo/img_glutInterface.png" class="card-img-top" alt="GlutInterface">
        <div class="card-body">
          <h5 class="card-title">GlutInterface Library</h5>
          <p class="card-text">Graphic interface for 2D and 3D based on OpenGL.</p>
        </div>
        <div class="card-footer">
          <ul>
            <li style="list-style: none" routerLinkActive="active">
              <a class="btn btn-secondary" target="_blank"
                 href="https://etudiants-stgi.pu-pm.univ-fcomte.fr/tp_bpiranda/adv_algo/glutInterface.zip"><span
                class="fa fa-download"></span>&nbsp;Library</a>
            </li>
            <li style="list-style: none" routerLinkActive="active">
              <a class="btn btn-secondary" target="_blank"
                 href="https://etudiants-stgi.pu-pm.univ-fcomte.fr/tp_bpiranda/adv_algo/doc/html/index.html"><span
                class="fa fa-question-circle"></span>&nbsp;Documentation</a>
            </li>
          </ul>
        </div>
      </div-->
    </div>
  </div>

  <h2 #programmablematter class="subtitles display-4">Distributed Algorithms for Programmable Matter</h2>
  <button (click)="isDistributedAlgorithmsCollapsed = !isDistributedAlgorithmsCollapsed"
          class="btn btn-outline-primary btn-toggle"><span class="fa" [ngClass]="{
    'fa-plus' : isDistributedAlgorithmsCollapsed,
    'fa-minus' : !isDistributedAlgorithmsCollapsed
  }"></span></button>
  <div *ngIf="!isDistributedAlgorithmsCollapsed">
    <h3>Course materials, and IDE installations</h3>
    <div class="row">
      <div class="col-sm card" style="width: 18rem;">
        <img src="assets/distributed_algo/img_distributed_VS.png" class="card-img-top"
             alt="Distributed Algorithm Course Slides">
        <div class="card-body">
          <h5 class="card-title">Distributed Algorithm</h5>
          <p class="card-text">Some slides presenting how to implement basic distributed algorithms in VisibleSim
            simulator.</p>
        </div>
        <div class="card-footer">
          <a target="_blank" download=""
             href="https://etudiants-stgi.pu-pm.univ-fcomte.fr/tp_bpiranda/matiereProgrammable/PRM_CM1_VS.pdf"
             class="btn btn-secondary"><span class="fa fa-graduation-cap"></span>&nbsp;Slides</a>
        </div>
      </div>
      <div class="col-sm card" style="width: 18rem;">
        <img src="assets/distributed_algo/img_vs_install.png" class="card-img-top" alt="VisibleSim install">
        <div class="card-body">
          <h5 class="card-title">VisibleSim installation tutorial</h5>
          <p class="card-text">This tutorial shows how to install VisibleSim in several systems.</p>
        </div>
        <div class="card-footer">
          <li style="list-style: none" routerLinkActive="active">
            <a class="btn btn-secondary" (click)="toVSinstall()"><span class="fa fa-wrench"></span>&nbsp;Tuto</a>
          </li>
          <li style="list-style: none" routerLinkActive="active">
            <a class="btn btn-secondary" target="_blank"
               href="https://etudiants-stgi.pu-pm.univ-fcomte.fr/tp_bpiranda/doc/VisibleSim_Documentation.pdf"><span
              class="fa fa-book"></span>&nbsp;Document.</a>
          </li>
          <li style="list-style: none" routerLinkActive="active">
            <a class="btn btn-secondary" target="_blank"
               href="https://github.com/VisibleSim/VisibleSim"><span
              class="fab fa-github"></span>&nbsp;Github</a>
          </li>
          <li style="list-style: none" routerLinkActive="active">
            <a class="btn btn-secondary" target="_blank"
               href="https://www.youtube.com/c/ProgrammableMatterProject/videos"><span class="fab fa-youtube"></span>&nbsp;Channel</a>
          </li>
        </div>
      </div>
      <div class="col-sm card" style="width: 18rem;">
        <img src="assets/distributed_algo/img_BB_install.png" class="card-img-top" alt="BB install">
        <div class="card-body">
          <h5 class="card-title">Blinky Blocks IDE installation tutorial</h5>
          <p class="card-text">This tutorial shows how to install the Blinky Blocks development environment.</p>
        </div>
        <div class="card-footer">
          <li style="list-style: none" routerLinkActive="active">
            <a class="btn btn-secondary" (click)="toBBinstall()"><span class="fa fa-wrench"></span>&nbsp;Tutorial</a>
          </li>
          <li style="list-style: none" routerLinkActive="active">
            <a class="btn btn-secondary" target="_blank"
               href="https://etudiants-stgi.pu-pm.univ-fcomte.fr/tp_bpiranda/matiereProgrammable/html/index.html"><span
              class="fa fa-book"></span>&nbsp;Documentation</a>
          </li>
        </div>
      </div>
    </div>
    <h3>VisibleSim simulator tutorials</h3>
    <div class="row">
      <div class="col-sm card" style="width: 18rem;">
        <img src="assets/distributed_algo/img_vs01.png" class="card-img-top" alt="VisibleSim01">
        <div class="card-body">
          <h5 class="card-title">Lab Session VS1 - VisibleSim tutorial #1</h5>
          <p class="card-text">This tutorial shows how to develop applications for VisibleSim in C++.</p>
        </div>
        <div class="card-footer">
          <li style="list-style: none" routerLinkActive="active">
            <a class="btn btn-secondary" target="_blank"
               href="https://etudiants-stgi.pu-pm.univ-fcomte.fr/tp_bpiranda/matiereProgrammable/PRM_CM1_VS.pdf">
              <span class="fa fa-graduation-cap"></span>&nbsp;Slides</a>
          </li>
          <li style="list-style: none" routerLinkActive="active">
            <a class="btn btn-secondary" (click)="toTP3part1()"><span class="fa fa-wrench"></span>&nbsp;Tutorial</a>
          </li>
        </div>
      </div>
      <div class="col-sm card" style="width: 18rem;">
        <img src="assets/distributed_algo/img_vs02.png" class="card-img-top" alt="VisibleSim02">
        <div class="card-body">
          <h5 class="card-title">Lab Session VS2 - VisibleSim tutorial #2</h5>
          <p class="card-text">
            This tutorial shows how to develop a self-reconfiguration application using 2D mobile robots.
          </p>
        </div>
        <div class="card-footer">
          <li style="list-style: none" routerLinkActive="active">
            <a class="btn btn-secondary" target="_blank"
               href="https://etudiants-stgi.pu-pm.univ-fcomte.fr/tp_bpiranda/matiereProgrammable/PRM_CM2_Motions.pdf">
              <span class="fa fa-graduation-cap"></span>&nbsp;Slides</a>
          </li>
          <li style="list-style: none" routerLinkActive="active">
            <a class="btn btn-secondary" (click)="toTP3part2()"><span class="fa fa-wrench"></span>&nbsp;Tutorial</a>
          </li>
        </div>
      </div>
      </div>
    <div class="row">
      <div class="col-sm card" style="width: 18rem;">
        <img src="assets/distributed_algo/img_vs03.png" class="card-img-top" alt="VisibleSim03">
        <div class="card-body">
          <h5 class="card-title">Lab Session VS3 - VisibleSim tutorial #3</h5>
          <p class="card-text">
            We focus here on how 3D Catoms can be used to write a general distributed self-reconfiguration program.
          </p>
        </div>
        <div class="card-footer">
          <li style="list-style: none" routerLinkActive="active">
            <a class="btn btn-secondary" (click)="toTP4()"><span class="fa fa-wrench"></span>&nbsp;Tutorial</a>
          </li>
        </div>
      </div>
      <div class="col-sm card" style="width: 18rem;">
        <img src="assets/distributed_algo/img_vs04.png" class="card-img-top" alt="VisibleSim04">
        <div class="card-body">
          <h5 class="card-title">Lab Session VS4 - VisibleSim tutorial #4</h5>
          <p class="card-text">
            We use here Sliding Cubes to create a moving snake made of a line of modules.
          </p>
        </div>
        <div class="card-footer">
          <li style="list-style: none" routerLinkActive="active">
            <a class="btn btn-secondary" (click)="toTP5()"><span class="fa fa-wrench"></span>&nbsp;Subject</a>
        </li>
        <li style="list-style: none" routerLinkActive="active">
          <a class="btn btn-secondary" target="_blank"
             href="https://etudiants-stgi.pu-pm.univ-fcomte.fr/tp_bpiranda/matiereProgrammable/examSnakeCodes.txt"><span
            class="fa fa-wrench"></span>&nbsp;data</a>
        </li>
      </div>
      </div>
    </div>
    <h3>Blinky Blocks Tutorials</h3>
    <div class="row">
      <div class="col-sm card" style="width: 18rem;">
        <img src="assets/distributed_algo/img_BB_lab_session1.png" class="card-img-top" alt="BB lab session1">
        <div class="card-body">
          <h5 class="card-title">Lab Session BB1 - IDE and Neighborhood</h5>
          <p class="card-text">
            This tutorial shows how to develop applications for Blinky Blocks V2 in C. Many examples are detailled in
            this page.
          </p>
        </div>
        <div class="card-footer">
          <li style="list-style: none" routerLinkActive="active">
            <a class="btn btn-secondary" (click)="toTP1()"><span class="fa fa-wrench"></span>&nbsp;Tutorial</a>
          </li>
          <li style="list-style: none" routerLinkActive="active">
            <a class="btn btn-secondary"
               href="https://filesender.renater.fr/?s=download&token=2bd5f626-987f-4c7d-a442-c09bed16e4f8"><span
              class="fa fa-wrench"></span>&nbsp;data</a>
          </li>
        </div>
      </div>
      <div class="col-sm card" style="width: 18rem;">
        <img src="assets/distributed_algo/img_BB_lab_session2.png" class="card-img-top" alt="BB lab session2">
        <div class="card-body">
          <h5 class="card-title">Lab Session BB2 - Broadcast/forecast</h5>
          <p class="card-text">
            This tutorial presents an central notion of Distributed Programming: the Broadcast followed by a Forecast.
          </p>
        </div>
        <div class="card-footer">
          <li style="list-style: none" routerLinkActive="active">
            <a class="btn btn-secondary" (click)="toTP2()"><span class="fa fa-wrench"></span>&nbsp;Tutorial</a>
          </li>
        </div>
      </div>

      <!--div class="col-sm card" style="width: 18rem;">
        <img src="assets/distributed_algo/img_BB_lab_session2.png" class="card-img-top" alt="BB lab session2">
        <div class="card-body">
          <h5 class="card-title">Lab Session 3 - Coordinate system and applications</h5>
          <p class="card-text">
            Using previous basic tools, create a coordinate system in order to run a geometrical application.
          </p>
        </div>
        <div class="card-footer">
          <li style="list-style: none" routerLinkActive="active">
            <a class="btn btn-secondary" (click)="toTP2()"><span class="fa fa-wrench"></span>&nbsp;Tutorial</a>
          </li>
        </div>
      </div-->
    </div>
  </div>

  <h2 #imagesynthesis class="subtitles display-4">Image synthesis</h2>
  <button (click)="isImageSynthesisCollapsed = !isImageSynthesisCollapsed"
          class="btn btn-outline-primary btn-toggle"><span class="fa" [ngClass]="{
    'fa-plus' : isImageSynthesisCollapsed,
    'fa-minus' : !isImageSynthesisCollapsed
  }"></span></button>
  <div *ngIf="!isImageSynthesisCollapsed">
    <h3>Course materials</h3>
    <div class="row">
      <div class="col-sm card" style="width: 18rem;">
        <img src="assets/img_synthesis/img_geometry.png" class="card-img-top" alt="Geometric modelisation">
        <div class="card-body">
          <h5 class="card-title">Geometric modeling</h5>
          <p class="card-text">
            Course slides on geometric modeling: modeling of objects and scenes.
          </p>
        </div>
        <div class="card-footer">
          <li style="list-style: none" routerLinkActive="active">
            <a class="btn btn-secondary" target="_blank"
               href="https://etudiants-stgi.pu-pm.univ-fcomte.fr/tp_bpiranda/infographie/si_cm1_modelisation.pdf"><span
              class="fa fa-graduation-cap"></span>&nbsp;Slides</a>
          </li>
        </div>
      </div>
      <div class="col-sm card" style="width: 18rem;">
        <img src="assets/img_synthesis/img_radiometrie.png" class="card-img-top" alt="Radiometric modelisation">
        <div class="card-body">
          <h5 class="card-title">Radiometric modeling</h5>
          <p class="card-text">
            Course slides on radiometric modeling: illumination models, materials, texture mapping.
          </p>
        </div>
        <div class="card-footer">
          <li style="list-style: none" routerLinkActive="active">
            <a class="btn btn-secondary" target="_blank"
               href="https://etudiants-stgi.pu-pm.univ-fcomte.fr/tp_bpiranda/infographie/si_cm2_illumination.pdf"><span
              class="fa fa-graduation-cap"></span>&nbsp;Slides</a>
          </li>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm card" style="width: 18rem;">
        <img src="assets/img_synthesis/img_illumination.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Lighting</h5>
          <p class="card-text">
            Course slides on lighting, local and global illumination models, ray-tracing algorithm, bi-direction ray-tracing.
          </p>
        </div>
        <div class="card-footer">
          <li style="list-style: none" routerLinkActive="active">
            <a class="btn btn-secondary" target="_blank"
               href="https://etudiants-stgi.pu-pm.univ-fcomte.fr/tp_bpiranda/infographie/si_cm3_global"><span
              class="fa fa-graduation-cap"></span>&nbsp;Slides</a>
          </li>
        </div>
      </div>
      <div (mouseover)="imgCatapulte = 'assets/img_synthesis/catapulte.gif'"
           (mouseout)="imgCatapulte='assets/img_synthesis/img_catapulte.png'" class="col-sm card" style="width: 18rem;">
        <img [src]="imgCatapulte" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Animation by keyframes and physical models</h5>
          <p class="card-text">
            This course presents the notion of keyframe for the creation of animations with 3DS Max.
            Create animations applying geometrical transformations and morphing.
          </p>
        </div>
        <div class="card-footer">
          <li style="list-style: none" routerLinkActive="active">
            <a class="btn btn-secondary" target="_blank"
               href="https://etudiants-stgi.pu-pm.univ-fcomte.fr/tp_bpiranda/infographie/si_cm4_animation.pdf"><span
              class="fa fa-graduation-cap"></span>&nbsp;Slides</a>
          </li>
        </div>
      </div>
    </div>
    <h3>Lab sessions</h3>
    <div class="row">
      <div class="col-sm card" style="width: 18rem;">
        <img src="assets/img_synthesis/img_legoman_1.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Lab session IS1</h5>
          <p class="card-text">
            Create a simple character using dimensions.</p>
        </div>
        <div class="card-footer">
          <li style="list-style: none" routerLinkActive="active">
            <a class="btn btn-secondary" target="_blank"
               href="https://etudiants-stgi.pu-pm.univ-fcomte.fr/tp_bpiranda/infographie/si_TD1_legoman.pdf"><span
              class="fa fa-wrench"></span>&nbsp;Tutorial</a>
          </li>
          <li style="list-style: none" routerLinkActive="active">
            <a class="btn btn-secondary"
               href="https://etudiants-stgi.pu-pm.univ-fcomte.fr/tp_bpiranda/infographie/legoman.zip"><span
              class="fa fa-download"></span>&nbsp;Data</a>
          </li>
        </div>
      </div>
      <div class="col-sm card" style="width: 18rem;">
        <img src="assets/img_synthesis/img_legoman.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Video tutorials</h5>
          <p class="card-text">
            Video tutorials to create the Lego character TEST
          </p>
        </div>
        <div class="card-footer">
          <li style="list-style: none" routerLinkActive="active">
            <a class="btn btn-secondary" href="https://youtu.be/_0ahP0gZbZ8"><span class="fab fa-youtube"></span>&nbsp;Head</a>
          </li>
          <li style="list-style: none" routerLinkActive="active">
            <a class="btn btn-secondary" href="https://youtu.be/oZasFgWn1Ts"><span class="fab fa-youtube"></span>&nbsp;Body</a>
          </li>
          <li style="list-style: none" routerLinkActive="active">
            <a class="btn btn-secondary" href="https://youtu.be/4za3WNvjwJU"><span class="fab fa-youtube"></span>&nbsp;Legs</a>
          </li>
          <li style="list-style: none" routerLinkActive="active">
            <a class="btn btn-secondary" href="https://youtu.be/w9TitoJsdNk"><span class="fab fa-youtube"></span>&nbsp;Arms</a>
          </li>
          <li style="list-style: none" routerLinkActive="active">
            <a class="btn btn-secondary" href="https://youtu.be/HoAS4J7jXP0git"><span class="fab fa-youtube"></span>&nbsp;Hand</a>
          </li>
          <li style="list-style: none" routerLinkActive="active">
            <a class="btn btn-secondary" href="https://youtu.be/LwTPQM0grHQ"><span class="fab fa-youtube"></span>&nbsp;Face</a>
          </li>
        </div>
      </div>
      <div class="col-sm card" style="width: 18rem;">
        <img src="assets/img_synthesis/img_busstop.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Lab session IS2</h5>
          <p class="card-text">
            Coloring and texture mapping.
          </p>
        </div>
        <div class="card-footer">
          <li style="list-style: none" routerLinkActive="active">
            <a class="btn btn-secondary" target="_blank"
               href="https://etudiants-stgi.pu-pm.univ-fcomte.fr/tp_bpiranda/infographie/si_TD2_busstop.pdf"><span
              class="fa fa-wrench"></span>&nbsp;Tutorial</a>
          </li>
          <li style="list-style: none" routerLinkActive="active">
            <a class="btn btn-secondary"
               href="https://etudiants-stgi.pu-pm.univ-fcomte.fr/tp_bpiranda/infographie/busstop.zip"><span
              class="fa fa-download"></span>&nbsp;Data</a>
          </li>
        </div>
      </div>
    </div>
    <div class="row">
      <div (mouseover)="imgCatapulte2 = 'assets/img_synthesis/catapulte.gif'"
           (mouseout)="imgCatapulte2 = 'assets/img_synthesis/img_catapulte.png'" class="col-sm card"
           style="width: 18rem;">
        <img [src]="imgCatapulte2" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Lab session IS3</h5>
          <p class="card-text">
            Animation and morphing.
          </p>
        </div>
        <div class="card-footer">
          <li style="list-style: none" routerLinkActive="active">
            <a class="btn btn-secondary" target="_blank"
               href="https://etudiants-stgi.pu-pm.univ-fcomte.fr/tp_bpiranda/infographie/si_tp3_animation.pdf"><span
              class="fa fa-wrench"></span>&nbsp;Tuto</a>
          </li>
          <li style="list-style: none" routerLinkActive="active">
            <a class="btn btn-secondary"
               href="https://etudiants-stgi.pu-pm.univ-fcomte.fr/tp_bpiranda/infographie/catapulte.zip"><span
              class="fa fa-download"></span>&nbsp;Data</a>
          </li>
          <li style="list-style: none" routerLinkActive="active">
            <a class="btn btn-secondary" href="https://youtu.be/C-qDNbrIKB8"><span class="fab fa-youtube"></span>&nbsp;Result</a>
          </li>
        </div>
      </div>
      <div class="col-sm card" style="width: 18rem;">
        <img src="assets/img_synthesis/img_minion.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Lab session IS4</h5>
          <p class="card-text">
            Modeling of a Cartoon character.
          </p>
        </div>
        <div class="card-footer">
          <li style="list-style: none" routerLinkActive="active">
            <a class="btn btn-secondary" target="_blank"
               href="https://etudiants-stgi.pu-pm.univ-fcomte.fr/tp_bpiranda/infographie/si_tp1_niv2_modélisation_corps_extrusion.pdf"><span
              class="fa fa-wrench"></span>&nbsp;Tutorial</a>
          </li>
        </div>
      </div>
      <!--
      <div class="col-sm card" style="width: 18rem;">
        <img src="assets/img_synthesis/img_texture_minion.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Lab session IS5</h5>
          <p class="card-text">
            Texturing of a Cartoon character.
          </p>
        </div>
        <div class="card-footer">
          <li style="list-style: none" routerLinkActive="active">
            <a class="btn btn-secondary" target="_blank"
               href="https://etudiants-stgi.pu-pm.univ-fcomte.fr/tp_bpiranda/infographie/si_2_niv2_minion_skinning_rigging.pdf"><span
              class="fa fa-wrench"></span>&nbsp;Tutorial</a>
          </li>
        </div>
      </div>
      -->
      <div class="col-sm card" style="width: 18rem;">
        <img src="assets/img_synthesis/img_minion_noel.png" class="card-img-top" alt="animation noel">
        <div class="card-body">
          <h5 class="card-title">Lab session IS5</h5>
          <p class="card-text">
            Modeling and animation of a Cartoon character.
          </p>
        </div>
        <div class="card-footer">
          <li style="list-style: none" routerLinkActive="active">
            <a class="btn btn-secondary" target="_blank"
               href="https://etudiants-stgi.pu-pm.univ-fcomte.fr/tp_bpiranda/infographie/si_2_niv2_minion_skinning_rigging.pdf"><span
              class="fa fa-wrench"></span>&nbsp;Tutorial</a>
          </li>
        </div>
      </div>
    </div>
  </div>

  <h3>Students works</h3>
  <div style="width:50%; border: 2px solid gray; border-radius: 10px; padding:5px;">
    <ngb-carousel>
      <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
          <img width="100%" src="assets/lego/rendu0.png" alt="Angular Carousel 1">
        </div>
        <div class="carousel-caption">
          <p>Malo Robic (2021-22)</p>
        </div>
      </ng-template>
      <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
          <img width="100%" src="assets/lego/rendu1.png" alt="Angular Carousel 1">
        </div>
        <div class="carousel-caption">
          <p>Romain TURBAN (2021-22)</p>
        </div>
      </ng-template>
      <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
          <img width="100%" src="assets/lego/rendu2.jpg" alt="Angular Carousel 1">
        </div>
        <div class="carousel-caption">
          <p>Elodie Blum (2021-22)</p>
        </div>
      </ng-template>
      <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
          <img width="100%" src="assets/lego/rendu3.png" alt="Angular Carousel 1">
        </div>
        <div class="carousel-caption">
          <p>Logan SOR (2021-22)</p>
        </div>
      </ng-template>
      <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
          <img width="100%" src="assets/lego/rendu4.jpg" alt="Angular Carousel 1">
        </div>
        <div class="carousel-caption">
          <p>Johan Malapert (2021-22)</p>
        </div>
      </ng-template>
      <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
          <img width="100%" src="assets/lego/rendu5.png" alt="Angular Carousel 1">
        </div>
        <div class="carousel-caption">
          <p>Marjorie FLECK (2021-22)</p>
        </div>
      </ng-template>
      <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
          <img width="100%" src="assets/lego/rendu6.png" alt="Angular Carousel 1">
        </div>
        <div class="carousel-caption">
          <p>Charles MANGIN (2021-22)</p>
        </div>
      </ng-template>
      <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
          <img width="100%" src="assets/lego/rendu7.png" alt="Angular Carousel 1">
        </div>
        <div class="carousel-caption">
          <p>Thomas JEU (2021-22)</p>
        </div>
      </ng-template>
    </ngb-carousel>
  </div>

  <h2 #webgl class="subtitles display-4">Real-time interactions</h2>
  <button (click)="isWebGLCollapsed = !isWebGLCollapsed" class="btn btn-outline-primary btn-toggle"><span class="fa"
                                                                                                          [ngClass]="{
    'fa-plus' : isWebGLCollapsed,
    'fa-minus' : !isWebGLCollapsed
  }"></span></button>
  <div *ngIf="!isWebGLCollapsed">
    <h3>WebGL / Three.js</h3>
    <div class="row">
      <div class="col-sm card" style="width: 18rem;">
        <img src="assets/webgl/img_webGL_book.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Image synthesis in web pages</h5>
          <p class="card-text">
            Courses and exercises to learn how to present interactive 3D images on the Internet.
          </p>
        </div>
        <div class="card-footer">
          <li style="list-style: none" routerLinkActive="active">
            <a class="btn btn-secondary" target="_blank"
               href="https://threejs.org/docs/#manual/en/introduction/Creating-a-scene"><span class="fa fa-book"></span>&nbsp;Three.js
              reference</a>
          </li>
        </div>
      </div>
      <div class="col-sm card" style="width: 18rem;">
        <img src="assets/webgl/img_webGL_TD1.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Tutorial 1: The basic swing</h5>
          <p class="card-text">
            Geometric modeling in WebGL with Three.js, use of simple geometric objects proposed in the library
            to construct a swing.
          </p>
        </div>
        <div class="card-footer">
          <ul>
            <li style="list-style: none" routerLinkActive="active">
              <a class="btn btn-secondary" target="_blank"
                 href="https://etudiants-stgi.pu-pm.univ-fcomte.fr/tp_bpiranda/webGL/webGL_TD1_scene_graph.pdf"><span
                class="fa fa-wrench"></span>&nbsp;Tutorial</a>
            </li>
            <li style="list-style: none" routerLinkActive="active">
              <a class="btn btn-secondary" target="_blank"
                 href="https://etudiants-stgi.pu-pm.univ-fcomte.fr/tp_bpiranda/webGL/webGL_TD1_scene_graph.zip"><span
                class="fa fa-code"></span>&nbsp;Code</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-sm card" style="width: 18rem;">
        <img src="assets/webgl/img_webGL_TD2.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Tutorial 2: The lego swing</h5>
          <p class="card-text">
            Geometric modeling in WebGL with Three.js. Modeling of a complex scene from objects
            created in a modeler and exported in Collada.
          </p>
        </div>
        <div class="card-footer">
          <ul>
            <li style="list-style: none" routerLinkActive="active">
              <a class="btn btn-secondary" target="_blank"
                 href="https://etudiants-stgi.pu-pm.univ-fcomte.fr/tp_bpiranda/webGL/webGL_TD2_balancierLego.pdf"><span
                class="fa fa-wrench"></span>&nbsp;Tutorial</a>
            </li>
            <li style="list-style: none" routerLinkActive="active">
              <a class="btn btn-secondary" target="_blank"
                 href="https://etudiants-stgi.pu-pm.univ-fcomte.fr/tp_bpiranda/webGL/webGL_TD2_balancierLego.zip"><span
                class="fa fa-code"></span>&nbsp;Code</a>
            </li>
            <li style="list-style: none" routerLinkActive="active">
              <a class="btn btn-secondary" target="_blank"
                 href="https://etudiants-stgi.pu-pm.univ-fcomte.fr/tp_bpiranda/webGL/balancierLego/pieces.html"><span
                class="fa fa-cube"></span>App</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm card" style="width: 18rem;">
        <img src="assets/webgl/img_webGL_TD3.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Tutorial 3: The mystery vault</h5>
          <p class="card-text">
            Visit a mysterious room to discover its secret! Picking of objects with Three.js to create interactive animations.
          </p>
        </div>
        <div class="card-footer">
          <li style="list-style: none" routerLinkActive="active">
            <a class="btn btn-secondary" target="_blank"
               href="https://etudiants-stgi.pu-pm.univ-fcomte.fr/tp_bpiranda/webGL/webGL_TD3_picking.pdf"><span
              class="fa fa-wrench"></span>&nbsp;Tutorial</a>
          </li>
          <li style="list-style: none" routerLinkActive="active">
            <a class="btn btn-secondary" target="_blank"
               href="https://etudiants-stgi.pu-pm.univ-fcomte.fr/tp_bpiranda/webGL/webGL_TD3_picking.zip"><span
              class="fa fa-code"></span>&nbsp;Code</a>
          </li>
        </div>
      </div>
      <div class="col-sm card" style="width: 18rem;">
        <img src="assets/webgl/img_webGL_TD4.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Tutorial 4: Mo lighting</h5>
          <p class="card-text">
            Dealing with lights and shadows in real-time WebGL applications.
          </p>
        </div>
        <div class="card-footer">
          <ul>
            <li style="list-style: none" routerLinkActive="active">
              <a class="btn btn-secondary" target="_blank"
                 href="https://etudiants-stgi.pu-pm.univ-fcomte.fr/tp_bpiranda/webGL/webGL_TD4_mo.pdf"><span
                class="fa fa-wrench"></span>&nbsp;Tutorial</a>
            </li>
            <li style="list-style: none" routerLinkActive="active">
              <a class="btn btn-secondary" target="_blank"
                 href="https://etudiants-stgi.pu-pm.univ-fcomte.fr/tp_bpiranda/webGL/webGL_TD4_mo.zip"><span
                class="fa fa-code"></span>&nbsp;Code</a>
            </li>
          </ul>
        </div>

      </div>
      <div class="col-sm card" style="width: 18rem;">
        <img src="assets/webgl/img_webGL_TD5.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Tutorial 5: Mo motions</h5>
          <p class="card-text">
            Basic collision control to move the camera and the character.
          </p>
        </div>
        <div class="card-footer">
          <ul>
            <li style="list-style: none" routerLinkActive="active">
              <a class="btn btn-secondary" target="_blank"
                 href="https://etudiants-stgi.pu-pm.univ-fcomte.fr/tp_bpiranda/webGL/webGL_TD5_motions.pdf"><span
                class="fa fa-wrench"></span>&nbsp;Tutorial</a>
            </li>
            <li style="list-style: none" routerLinkActive="active">
              <a class="btn btn-secondary" target="_blank"
                 href="https://etudiants-stgi.pu-pm.univ-fcomte.fr/tp_bpiranda/webGL/webGL_TD5_motions.zip"><span
                class="fa fa-code"></span>&nbsp;Code</a>
            </li>
          </ul>
        </div>

      </div>
    </div>
    <div class="row">
      <div class="col-sm card" style="width: 18rem;">
        <img src="assets/webgl/img_webGL_TD7.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Tutorial 6: The lego house</h5>
          <p class="card-text">
            Algorithmic modeling of a house using lego bricks.
          </p>
        </div>
        <div class="card-footer">
          <ul>
            <li style="list-style: none" routerLinkActive="active">
              <a class="btn btn-secondary" target="_blank"
                 href="https://etudiants-stgi.pu-pm.univ-fcomte.fr/tp_bpiranda/webGL/webGL_TD6_maison.pdf"><span
                class="fa fa-wrench"></span>&nbsp;Tutorial</a>
            </li>
            <li style="list-style: none" routerLinkActive="active">
              <a class="btn btn-secondary" target="_blank"
                 href="https://etudiants-stgi.pu-pm.univ-fcomte.fr/tp_bpiranda/maisonLego/webGL/webGL_TD6_maison.zip"><span
                class="fa fa-code"></span>&nbsp;Code</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-sm card" style="width: 18rem;">
        <img src="assets/webgl/img_webGL_TD8.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Tutorial 7: Create and export a model</h5>
          <p class="card-text">
            Design a model with 3DS Max to present it in Three.js.
          </p>
        </div>
        <div class="card-footer">
          <ul>
            <li style="list-style: none" routerLinkActive="active">
              <a class="btn btn-secondary" href="https://youtu.be/KDdBuOAkT_Y"><span class="fab fa-youtube"></span>&nbsp;Video tutorial</a>
            </li>
            <li style="list-style: none" routerLinkActive="active">
              <a class="btn btn-secondary" target="_blank"
                 href="https://etudiants-stgi.pu-pm.univ-fcomte.fr/tp_bpiranda/webGL/webGL_TD7_book.zip"><span
                class="fa fa-code"></span>&nbsp;Code</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <h3>Unity</h3>
    <div class="row">
      <div class="col-sm card" style="width: 18rem;">
        <img src="assets/unity/img_unity_intro.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Real-time interactions with Unity</h5>
          <p class="card-text">
            Courses slides, introduction, low-poly modeling and Unity basics
          </p>
        </div>
        <div class="card-footer">
          <li style="list-style: none" routerLinkActive="active">
            <a class="btn btn-secondary" target="_blank"
               href="https://etudiants-stgi.pu-pm.univ-fcomte.fr/tp_bpiranda/unity/unity_slides.pdf"><span
              class="fa fa-book"></span>&nbsp;Slides</a>
          </li>
        </div>
      </div>
      <div class="col-sm card" style="width: 18rem;">
        <img src="assets/unity/img_unity_TD1.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Tutorial U1: Physic basics</h5>
          <p class="card-text">
            A first basic application with First Person Controller and physics.
          </p>
        </div>
        <div class="card-footer">
          <ul>
            <li style="list-style: none" routerLinkActive="active">
              <a class="btn btn-secondary" target="_blank"
                 href="https://etudiants-stgi.pu-pm.univ-fcomte.fr/tp_bpiranda/unity/unity_TD1_explore.pdf"><span
                class="fa fa-wrench"></span>&nbsp;Tutorial</a>
            </li>
            <li style="list-style: none" routerLinkActive="active">
              <a class="btn btn-secondary" target="_blank"
                 href="https://etudiants-stgi.pu-pm.univ-fcomte.fr/tp_bpiranda/unity/unity_TD1_explore.zip"><span
                class="fa fa-code"></span>&nbsp;Media</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm card" style="width: 18rem;">
        <img src="assets/unity/img_unity_TD2.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Tutorial U2: Shoot game</h5>
          <p class="card-text">
            Managing clones, physics and collision to create a shoot game.
          </p>
        </div>
        <div class="card-footer">
          <ul>
            <li style="list-style: none" routerLinkActive="active">
              <a class="btn btn-secondary" target="_blank"
                 href="https://etudiants-stgi.pu-pm.univ-fcomte.fr/tp_bpiranda/unity/unity_TD2_shoot.pdf"><span
                class="fa fa-wrench"></span>&nbsp;Tutorial</a>
            </li>
            <li style="list-style: none" routerLinkActive="active">
              <a class="btn btn-secondary" target="_blank"
                 href="https://etudiants-stgi.pu-pm.univ-fcomte.fr/tp_bpiranda/unity/unity_TD2_shoot.zip"><span
                class="fa fa-code"></span>&nbsp;Media</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-sm card" style="width: 18rem;">
        <img src="assets/unity/img_unity_TD3.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Tutorial U3: Augmented Reality basics</h5>
          <p class="card-text">
            A first basic application using Augmented Reality with Vuforia tools.
          </p>
        </div>
        <div class="card-footer">
          <ul>
            <li style="list-style: none" routerLinkActive="active">
              <a class="btn btn-secondary" target="_blank"
                 href="https://etudiants-stgi.pu-pm.univ-fcomte.fr/tp_bpiranda/unity/unity_TD3_RA.pdf"><span
                class="fa fa-wrench"></span>&nbsp;Tutorial</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <h3 #demo class="subtitles display-4">Demos</h3>
  <button (click)="isDemosCollapsed = !isDemosCollapsed" class="btn btn-outline-primary btn-toggle"><span class="fa"
                                                                                                          [ngClass]="{
    'fa-plus' : isDemosCollapsed,
    'fa-minus' : !isDemosCollapsed
  }"></span></button>
  <h3>3D animations</h3>
  <div *ngIf="!isWebGLCollapsed">
    <div class="row">
      <div class="col-sm card" style="width: 18rem;">
        <img src="assets/webgl-demos/lego_house.png" class="card-img-top" alt="Lego House">
        <div class="card-body">
          <h5 class="card-title">Lego House</h5>
          <p class="card-text">
            Simple example of interactions on 3D models.
          </p>
        </div>
        <div class="card-footer">
          <li style="list-style: none" routerLinkActive="active">
            <a class="btn btn-secondary" target="_blank"
               href="https://etudiants-stgi.pu-pm.univ-fcomte.fr/tp_bpiranda/lego/index.html">Read</a>
          </li>
        </div>
      </div>
      <div class="col-sm card" style="width: 18rem;">
        <img src="assets/webgl-demos/escape-game.png" class="card-img-top" alt="Escape Game">
        <div class="card-body">
          <h5 class="card-title">3D Escape Game</h5>
          <p class="card-text">
            Virtual visit, find the exit.
          </p>
        </div>
        <div class="card-footer">
          <li style="list-style: none" routerLinkActive="active">
            <a class="btn btn-secondary" target="_blank"
               href="https://etudiants-stgi.pu-pm.univ-fcomte.fr/tp_bpiranda/game/index.html">Read</a>
          </li>
        </div>
      </div>
      <div class="col-sm card" style="width: 18rem;">
        <img src="assets/webgl-demos/ouioui.png" class="card-img-top" alt="Noddy's buggy">
        <div class="card-body">
          <h5 class="card-title">Noddy's buggy</h5>
          <p class="card-text">
            Car game : Noddy's buggy.
          </p>
        </div>
        <div class="card-footer">
          <li style="list-style: none" routerLinkActive="active">
            <a class="btn btn-secondary" target="_blank"
               href="https://etudiants-stgi.pu-pm.univ-fcomte.fr/tp_bpiranda/Buggy/buggy.html">Read</a>
          </li>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm card" style="width: 18rem;">
        <img src="assets/webgl-demos/anaglyphe.png" class="card-img-top" alt="Anaglyph">
        <div class="card-body">
          <h5 class="card-title">Anaglyph stereoscopy</h5>
          <p class="card-text">
            Anaglyph stereoscopy: the Lego house.
          </p>
        </div>
        <div class="card-footer">
          <li style="list-style: none" routerLinkActive="active">
            <a class="btn btn-secondary" target="_blank"
               href="https://etudiants-stgi.pu-pm.univ-fcomte.fr/tp_bpiranda/stereoThreeJS/maison_lego_stereo.html">Read</a>
          </li>
        </div>
      </div>
      <div class="col-sm card" style="width: 18rem;">
        <img src="assets/webgl-demos/cuckoo.png" class="card-img-top" alt="Cuckoo">
        <div class="card-body">
          <h5 class="card-title">Cuckoo</h5>
          <p class="card-text">
            Automatic clock with a cuckoo which sings every quarter an hour.
          </p>
        </div>
        <div class="card-footer">
          <li style="list-style: none" routerLinkActive="active">
            <a class="btn btn-secondary" target="_blank"
               href="https://etudiants-stgi.pu-pm.univ-fcomte.fr/tp_bpiranda/coucou/index.html">Read</a>
          </li>
        </div>
      </div>
      <div class="col-sm card" style="width: 18rem;">
        <img src="assets/webgl/img_webGL_TD6.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Tutorial: The perfect Room</h5>
          <p class="card-text">
            Create your perfect room, make it interactive to hide the code...
          </p>
        </div>
        <div class="card-footer">
          <li style="list-style: none" routerLinkActive="active">
            <a class="btn btn-secondary" target="_blank"
               href="https://etudiants-stgi.pu-pm.univ-fcomte.fr/tp_bpiranda/room21/"><span class="fa fa-cubes"></span>&nbsp;WebGL
              Example</a>
          </li>
        </div>
      </div>
    </div>
  </div>

  <h3 #studentProd class="subtitles display-4">Student productions</h3>
  <button (click)="isStudentProdCollapsed = !isStudentProdCollapsed" class="btn btn-outline-primary btn-toggle"><span
    class="fa"
    [ngClass]="{
    'fa-plus' : isStudentProdCollapsed,
    'fa-minus' : !isStudentProdCollapsed
  }"></span></button>
  <div *ngIf="!isStudentProdCollapsed">
    <h3>Rhizome projects</h3>
    <div class="row">
      <div class="col-sm card" style="width: 18rem;">
        <div class="card-body">
          <a href="https://etudiants-stgi.pu-pm.univ-fcomte.fr/tp_bpiranda/infographie/videos/2007-08.f4v"><img
            src="assets/rhizome/icon_2008.png" class="card-img-top" alt="Rhizome 2008"></a>
        </div>
      </div>
      <div class="col-sm card" style="width: 18rem;">
        <div class="card-body">
          <a href="https://etudiants-stgi.pu-pm.univ-fcomte.fr/tp_bpiranda/infographie/videos/2008-09.f4v"><img
            src="assets/rhizome/icon_2009.png" class="card-img-top" alt="Rhizome 2009"></a>
        </div>
      </div>
      <div class="col-sm card" style="width: 18rem;">
        <div class="card-body">
          <a href="https://etudiants-stgi.pu-pm.univ-fcomte.fr/tp_bpiranda/infographie/videos/2009-10.f4v"><img
            src="assets/rhizome/icon_2010.png" class="card-img-top" alt="Rhizome 2010"></a>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm card" style="width: 18rem;">
        <div class="card-body">
          <a href="https://etudiants-stgi.pu-pm.univ-fcomte.fr/tp_bpiranda/infographie/videos/2010-11.f4v"><img
            src="assets/rhizome/icon_2011.png" class="card-img-top" alt="Rhizome 2011"></a>
        </div>
      </div>
      <div class="col-sm card" style="width: 18rem;">
        <div class="card-body">
          <a href="https://etudiants-stgi.pu-pm.univ-fcomte.fr/tp_bpiranda/infographie/videos/2011-12.f4v"><img
            src="assets/rhizome/icon_2012.png" class="card-img-top" alt="Rhizome 2012"></a>
        </div>
      </div>
      <div class="col-sm card" style="width: 18rem;">
        <div class="card-body">
          <a href="https://etudiants-stgi.pu-pm.univ-fcomte.fr/tp_bpiranda/infographie/videos/2012-13.f4v"><img
            src="assets/rhizome/icon_2013.png" class="card-img-top" alt="Rhizome 2013"></a>
        </div>
      </div>
    </div>
  </div>


</div>

<app-back-to-top></app-back-to-top>
