.jumbotron{
  margin: 5px;
}

.subtitles{
  font-size: 40pt;
  margin-top: 5%;
  display: block;
}

.card{
  padding: 10px;
  margin: 10px;
}

.card img{
  padding: 10px;
  border-radius: 15px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
  float: left;
  margin-right: 10px;
}

li a {
  display: block;
  color: white;
  text-align: center;
  text-decoration: none;
}

@media screen and (max-width: 1000px){
  .jumbotron{
    margin-top: 15%;
  }
}

.btn-toggle{
  position: relative;
  float: right;
  bottom: 60px;
}

