<nav id="mainNav" class="navbar fixed-top navbar-expand-lg navbar-light navbar-custom">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  <a class="navbar-brand" href="#">Benoît Piranda</a>
  <div  class="collapse navbar-collapse" id="navbarTogglerDemo03">
    <ul class="navbar-nav">
      <li routerLinkActive="active">
      </li>
      <li routerLinkActive="active">
        <a class="nav-item nav-link" routerLink="/education" data-bs-toggle="collapse" data-bs-target=".navbar-collapse.show">Education</a>
      </li>
      <li routerLinkActive="active">
        <a class="nav-item nav-link" routerLink="/research" data-bs-toggle="collapse" data-bs-target=".navbar-collapse.show">Research</a>
      </li>
      <li routerLinkActive="active">
        <a class="nav-item nav-link" routerLink="/publications" data-bs-toggle="collapse" data-bs-target=".navbar-collapse.show">Publications</a>
      </li>
      <li routerLinkActive="active">
        <a class="nav-item nav-link" routerLink="/about" data-bs-toggle="collapse" data-bs-target=".navbar-collapse.show">About</a>
      </li>
    </ul>
    <ul class="navbar-nav ml-auto">
      <li routerLinkActive="active">
        <a class="nav-item nav-link" target="_blank" href="https://www.youtube.com/channel/UCUFwQq2i-s_gFhTJ0l2-PBQ"><i class="fab fa-youtube"></i></a>
      </li>
      <li routerLinkActive="active">
        <a class="nav-item nav-link" target="_blank" href="https://www.linkedin.com/in/benoit-piranda-8883a513/"><i class="fab fa-linkedin-in"></i></a>
      </li>
      <li routerLinkActive="active">
        <a class="nav-item nav-link" target="_blank" href="https://twitter.com/BenoitPiranda"><i class="fab fa-twitter"></i></a>
      </li>
    </ul>
  </div>
</nav>
