.navbar-custom{
  background: rgb(52,152,219);
  background: linear-gradient(342deg, rgba(52,152,219,1) 52%, rgba(46,204,113,1) 100%);
}

.navbar-nav li a {
  color: aliceblue;
}

@media screen and (max-width: 750px){
  li{
    font-size: 8pt;
    margin-bottom: -3px;
  }

}
