<nav class="navbar fixed-bottom navbar-expand-lg navbar-light ">
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item" routerLinkActive="active">

      </li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li class="nav-item" routerLinkActive="active">
        Credits : <a href="https://gitlab.com/npiranda">Nathan Piranda</a> 2020 - 2023
      </li>
    </ul>
  </div>
</nav>
