.jumbotron{
  margin: 5px;
}

.card{
  margin: 10px;
}

.bg-acti{
  background: linear-gradient(45deg,#3498db, #2ecc71);
  color:black;
}

.bg-acl{
  background: linear-gradient(45deg,#e74c3c, #f39c12);
  color:black;
}

.bg-keynote{
  background: linear-gradient(45deg,#8e44ad, #eab4fc);
  color:black;
}

.bg-other{
  background: linear-gradient(45deg, #a1c8fc, #46aaf6);
  color:black;
}

.bg-acf{
  background: linear-gradient(45deg, #e7d6c0, #f6ed46);
  color:black;
}

tr {
  line-height : 20px;
  min-height : 20px;
  height: 20px;
}

.divBadge{
  width: fit-content;
  float: right;
}

.card-title{
  margin-bottom: 0rem;
}

.clipboard{
  /*style="width: fit-content; border-radius: 25px ; position: fixed; bottom: 5%; right: 5%; z-index: 10; color: whitesmoke*/
  width: fit-content;
  font-size: 16pt;
  border-radius: 15px;
  position: fixed;
  bottom: 5%;
  right: 40%;
  z-index: 10;
  color: whitesmoke;
  visibility: hidden;
}

@media screen and (max-width: 1000px){
  .jumbotron{
    margin-top: 15%;
  }

  table{
    font-size: 8pt;
    overflow: hidden;
  }

  h2 {
    font-size: 12pt;
  }

  sub{
    display: none;
  }
}

