<app-header></app-header>
<div class="container">
  <div id="head" class="jumbotron">
    <h1 class="display-4">Publications</h1>
    <div class="row">
      <div class="col-2"><h2 style="text-align: center; cursor: pointer" (click)="scrollTo('2023')">2023&nbsp;<sub>({{getArticlesByYear(2023)}})</sub></h2></div>
      <div class="col-2"><h2 style="text-align: center; cursor: pointer" (click)="scrollTo('2022')">2022&nbsp;<sub>({{getArticlesByYear(2022)}})</sub></h2></div>
      <div class="col-2"><h2 style="text-align: center; cursor: pointer" (click)="scrollTo('2021')">2021&nbsp;<sub>({{getArticlesByYear(2021)}})</sub></h2></div>
      <div class="col-2"><h2 style="text-align: center; cursor: pointer" (click)="scrollTo('2020')">2020&nbsp;<sub>({{getArticlesByYear(2020)}})</sub></h2></div>
      <div class="col-2"><h2 style="text-align: center; cursor: pointer" (click)="scrollTo('2019')">2019&nbsp;<sub>({{getArticlesByYear(2019)}})</sub></h2></div>
      <div class="col-2"><h2 style="text-align: center; cursor: pointer" (click)="scrollTo('2018')">2018&nbsp;<sub>({{getArticlesByYear(2018)}})</sub></h2></div>
      <div class="col-2"><h2 style="text-align: center; cursor: pointer" (click)="scrollTo('2017')">2017&nbsp;<sub>({{getArticlesByYear(2017)}})</sub></h2></div>
      <div class="col-2"><h2 style="text-align: center; cursor: pointer" (click)="scrollTo('2016')">2016&nbsp;<sub>({{getArticlesByYear(2016)}})</sub></h2></div>
      <div class="col-2"><h2 style="text-align: center; cursor: pointer" (click)="scrollTo('2015')">2015&nbsp;<sub>({{getArticlesByYear(2015)}})</sub></h2></div>
      <div class="col-2"><h2 style="text-align: center; cursor: pointer" (click)="scrollTo('2014')">2014&nbsp;<sub>({{getArticlesByYear(2014)}})</sub></h2></div>
      <div class="col-2"><h2 style="text-align: center; cursor: pointer" (click)="scrollTo('2013')">2013&nbsp;<sub>({{getArticlesByYear(2013)}})</sub></h2></div>
      <div class="col-2"><h2 style="text-align: center; cursor: pointer" (click)="scrollTo('2012')">2012&nbsp;<sub>({{getArticlesByYear(2012)}})</sub></h2></div>
      <div class="col-2"><h2 style="text-align: center; cursor: pointer" (click)="scrollTo('2011')">2011&nbsp;<sub>({{getArticlesByYear(2011)}})</sub></h2></div>
      <div class="col-2"><h2 style="text-align: center; cursor: pointer" (click)="scrollTo('2010')">2010&nbsp;<sub>({{getArticlesByYear(2010)}})</sub></h2></div>
      <div class="col-2"><h2 style="text-align: center; cursor: pointer" (click)="scrollTo('2009')">2009&nbsp;<sub>({{getArticlesByYear(2009)}})</sub></h2></div>
      <div class="col-2"><h2 style="text-align: center; cursor: pointer" (click)="scrollTo('2007')">2007&nbsp;<sub>({{getArticlesByYear(2007)}})</sub></h2></div>
      <div class="col-2"><h2 style="text-align: center; cursor: pointer" (click)="scrollTo('2006')">2006&nbsp;<sub>({{getArticlesByYear(2006)}})</sub></h2></div>
      <div class="col-2"><h2 style="text-align: center; cursor: pointer" (click)="scrollTo('2005')">2005&nbsp;<sub>({{getArticlesByYear(2005)}})</sub></h2></div>
      <div class="col-2"><h2 style="text-align: center; cursor: pointer" (click)="scrollTo('2004')">2004&nbsp;<sub>({{getArticlesByYear(2004)}})</sub></h2></div>
      <div class="col-2"><h2 style="text-align: center; cursor: pointer" (click)="scrollTo('2001')">2001&nbsp;<sub>({{getArticlesByYear(2001)}})</sub></h2></div>
      <div class="col-2"><h2 style="text-align: center; cursor: pointer" (click)="scrollTo('2000')">2000&nbsp;<sub>({{getArticlesByYear(2000)}})</sub></h2></div>
      <div class="col-2"><h2 style="text-align: center; cursor: pointer" (click)="scrollTo('1999')">1999&nbsp;<sub>({{getArticlesByYear(1999)}})</sub></h2></div>
      <div class="col-2"><h2 style="text-align: center; cursor: pointer" (click)="scrollTo('1998')">1998&nbsp;<sub>({{getArticlesByYear(1998)}})</sub></h2></div>
      <div class="col-2"><h2 style="text-align: center; cursor: pointer" (click)="scrollTo('1997')">1997&nbsp;<sub>({{getArticlesByYear(1997)}})</sub></h2></div>
      <div class="col-2"><h2 style="text-align: center; cursor: pointer" (click)="scrollTo('1995')">1995&nbsp;<sub>({{getArticlesByYear(1995)}})</sub></h2></div>
    </div>
  </div>

  <div class="container-fluid bg-success clipboard" id="toast">
    Bibtex data is copied to clipboard!
  </div>

  <h1 class="display-4">Summary</h1>
<!-- modifier aussi research.components.ts ! -->
  <div class="row">
    <div class="col-sm">
      <div class="chart-wrapper">
        <canvas baseChart
                [datasets]="lineChartData"
                [labels]="lineChartLabels"
                [options]="lineChartOptions"
                [colors]="lineChartColors"
                [legend]="lineChartLegend"
                [chartType]="lineChartType"
                [plugins]="lineChartPlugins">
        </canvas>
      </div>
    </div>
    <div class="col-sm">
      <div class="chart-wrapper">
        <canvas baseChart
                [data]="pieChartData"
                [labels]="pieChartLabels"
                [chartType]="pieChartType"
                [colors]="pieColors"
                [options]="pieChartOptions"
                [plugins]="pieChartPlugins"
                [legend]="pieChartLegend">
        </canvas>
      </div>
    </div>
  </div>
<br>

  <!--
    <h2>Publication by period/laboratory</h2>

        <table width="100%" class="table table-striped table-hover table-bordered">
          <thead><tr>
            <th>Laboratory</th>
            <th>IGM<br/>1995-02</th>
            <th>SISAR<br/>2002-07</th>
            <th>LASELDI/OUN<br/>2007-12</th>
            <th>FEMTO-ST/DISC<br/>since 2012</th>
            <th>Total</th>
          </tr></thead>

          <tbody>
          <tr>
            <th>International Journals (ACL)</th>
            <td align="right">
              {{getArticlesByLab('IGM','ACL')}}
            </td>
            <td align="right">
              {{getArticlesByLab('SISAR','ACL')}}
            </td>
            <td align="right">
              {{getArticlesByLab('OUN','ACL')}}
            </td>
            <td align="right">
              {{getArticlesByLab('DISC','ACL')}}
            </td>
            <td align="right">
              <b>{{getArticlesByLab('','ACL')}}</b>
            </td>
          </tr>
          <tr>
            <th>International Conferences (ACTI)</th>
            <td align="right">
              {{getArticlesByLab('IGM','ACTI')}}
            </td>
            <td align="right">
              {{getArticlesByLab('SISAR','ACTI')}}
            </td>
            <td align="right">
              {{getArticlesByLab('OUN','ACTI')}}
            </td>
            <td align="right">
              {{getArticlesByLab('DISC','ACTI')}}
            </td>
            <td align="right">
              <b>{{getArticlesByLab('','ACTI')}}</b>
            </td>
          </tr>
          <tr>
            <th>Conference keynotes</th>
            <td align="right">
              {{getArticlesByLab('IGM','keynote')}}
            </td>
            <td align="right">
              {{getArticlesByLab('SISAR','keynote')}}
            </td>
            <td align="right">
              {{getArticlesByLab('OUN','keynote')}}
            </td>
            <td align="right">
              {{getArticlesByLab('DISC','keynote')}}
            </td>
            <td align="right">
              <b>{{getArticlesByLab('','keynote')}}</b>
            </td>
          </tr>
          <tr>
            <th>Francophone Conferences with reviewing committee.</th>
            <td align="right">
              {{getArticlesByLab('IGM','ACF')}}
            </td>
            <td align="right">
              {{getArticlesByLab('SISAR','ACF')}}
            </td>
            <td align="right">
              {{getArticlesByLab('OUN','ACF')}}
            </td>
            <td align="right">
              {{getArticlesByLab('DISC','ACF')}}
            </td>
            <td align="right">
              <b>{{getArticlesByLab('','ACF')}}</b>
            </td>
          </tr>
          <tr>
            <th>Others</th>
            <td align="right">
              {{getArticlesByLab('IGM','other')}}
            </td>
            <td align="right">
              {{getArticlesByLab('SISAR','other')}}
            </td>
            <td align="right">
              {{getArticlesByLab('OUN','other')}}
            </td>
            <td align="right">
              {{getArticlesByLab('DISC','other')}}
            </td>
            <td align="right">
              <b>{{getArticlesByLab('','other')}}</b>
            </td>
          </tr>
          </tbody>
          <tfoot>
          <tr>
            <th>Total</th>
            <td align="right">
              <b>{{getArticlesByLab('IGM','')}}</b>
            </td>
            <td align="right">
              <b>{{getArticlesByLab('SISAR','')}}</b>
            </td>
            <td align="right">
              <b>{{getArticlesByLab('OUN','')}}</b>
            </td>
            <td align="right">
              <b>{{getArticlesByLab('DISC','')}}</b>
            </td>
            <td align="right">
              <b>{{getArticlesByLab('IGM','') + getArticlesByLab('SISAR','') + getArticlesByLab('OUN','') + getArticlesByLab('DISC','')}}</b>
            </td>
          </tr>
          </tfoot>

        </table>
-->
  <h2>Publication by domain</h2>

  <table width="100%" class="table table-striped table-hover table-bordered">
    <thead><tr>
      <th>Domains</th>
      <th>Image Synthesis</th>
      <th>Virtual Reality</th>
      <th>Multimedia Sensor Network</th>
      <th>Programmable Matter</th>
      <th>Total</th>
    </tr></thead>

    <tbody>
    <tr>
      <th>International Journals (ACL)</th>
      <td align="right">
        {{getArticlesByDomain('IS','ACL')}}
      </td>
      <td align="right">
        {{getArticlesByDomain('VR','ACL')}}
      </td>
      <td align="right">
        {{getArticlesByDomain('SN','ACL')}}
      </td>
      <td align="right">
        {{getArticlesByDomain('PM','ACL')}}
      </td>
      <td align="right">
        <b>{{getArticlesByDomain('','ACL')}}</b>
      </td>
    </tr>
    <tr>
      <th>International Conferences (ACTI)</th>
      <td align="right">
        {{getArticlesByDomain('IS','ACTI')}}
      </td>
      <td align="right">
        {{getArticlesByDomain('VR','ACTI')}}
      </td>
      <td align="right">
        {{getArticlesByDomain('SN','ACTI')}}
      </td>
      <td align="right">
        {{getArticlesByDomain('PM','ACTI')}}
      </td>
      <td align="right">
        <b>{{getArticlesByDomain('','ACTI')}}</b>
      </td>
    </tr>
    <tr>
      <th>Conference keynotes</th>
      <td align="right">
        {{getArticlesByDomain('IS','keynote')}}
      </td>
      <td align="right">
        {{getArticlesByDomain('VR','keynote')}}
      </td>
      <td align="right">
        {{getArticlesByDomain('SN','keynote')}}
      </td>
      <td align="right">
        {{getArticlesByDomain('PM','keynote')}}
      </td>
      <td align="right">
        <b>{{getArticlesByDomain('','keynote')}}</b>
      </td>
    </tr>
    <tr>
      <th>Francophone Conferences with reviewing committee.</th>
      <td align="right">
        {{getArticlesByDomain('IS','ACF')}}
      </td>
      <td align="right">
        {{getArticlesByDomain('VR','ACF')}}
      </td>
      <td align="right">
        {{getArticlesByDomain('SN','ACF')}}
      </td>
      <td align="right">
        {{getArticlesByDomain('PM','ACF')}}
      </td>
      <td align="right">
        <b>{{getArticlesByDomain('','ACF')}}</b>
      </td>
    </tr>
    <tr>
      <th>Others</th>
      <td align="right">
        {{getArticlesByDomain('IS','other')}}
      </td>
      <td align="right">
        {{getArticlesByDomain('VR','other')}}
      </td>
      <td align="right">
        {{getArticlesByDomain('SN','other')}}
      </td>
      <td align="right">
        {{getArticlesByDomain('PM','other')}}
      </td>
      <td align="right">
        <b>{{getArticlesByDomain('','other')}}</b>
      </td>
    </tr>

    </tbody>
    <tfoot>
    <tr>
      <th>Total</th>
      <td align="right">
        <b>{{getArticlesByDomain('IS','')}}</b>
      </td>
      <td align="right">
        <b>{{getArticlesByDomain('VR','')}}</b>
      </td>
      <td align="right">
        <b>{{getArticlesByDomain('SN','')}}</b>
      </td>
      <td align="right">
        <b>{{getArticlesByDomain('PM','')}}</b>
      </td>
      <td align="right">
        <b>{{getArticlesByDomain('','')}}</b>
      </td>
    </tr>
    </tfoot>

  </table>
  <br>
  <h2>Selection of journals, quartile and impact factors</h2>

      <table width="100%" class="table table-striped table-hover table-bordered">
        <thead>
        <tr><th>Journal title</th><th>Quartile</th><th>Impact factor</th><th>Number of papers</th></tr>
        </thead>
        <tbody>
        <tr><td>Journal of Intelligent Manufacturing (JIMS)</td><td>Q1</td><td>7.136</td><td>{{getArticlesByName('JIMS')}}</td></tr>
        <tr><td>Swarm and Evolutionary Computation (SWEVO)</td><td>Q1</td><td>6.33</td><td>{{getArticlesByName('SWEVO')}}</td></tr>
        <tr><td>IEEE Transactions on Robotics (T-Ro)</td><td>Q1 Core A*</td><td>6.123</td><td>{{getArticlesByName('T-RO')}}</td></tr>
        <tr><td>ACM Transactions on Internet Technology (TOIT)</td><td>Q1</td><td>4.79</td><td>{{getArticlesByName('TOIT')}}</td></tr>
        <tr><td>Journal of Network and Computer Applications (JNCA)</td><td>Q1</td><td>3.5</td><td>{{getArticlesByName('JNCA')}}</td></tr>
        <tr><td>Journal of Robotics and Autonomous System</td><td>Q1</td><td>3.12</td><td>{{getArticlesByName('RAS')}}</td></tr>
        <tr><td>ACM Transaction on Autonomous and Adaptive Systems (TAAS)</td><td>Q1</td><td>2.70</td><td>{{getArticlesByName('TAAS')}}</td></tr>
        <tr><td>Journal of Mechatronics (Elsevier)</td><td>Q1</td><td>1.823</td><td>{{getArticlesByName('Mechatronics')}}</td></tr>
        <tr><td>Autonomous Robots Journal</td><td>Q1</td><td>1.547</td><td>{{getArticlesByName('AR')}}</td></tr>
        </tbody>
      </table>
<br>

  <h2>Selection of conferences, core rank</h2>
      <table width="100%" class="table table-striped table-hover table-bordered">
        <thead>
        <tr><th>Conference title</th><th>Core rank</th><th>Number of papers</th></tr>
        </thead>
        <tbody>
        <tr><td>International Symposium on Distributed Autonomous Robotic Systems (DARS)</td><td>Best match with my domain, biennial and single track</td><td>{{getArticlesByName('DARS')}}</td></tr>
        <tr><td>International Conference on Autonomous Agents and Multiagent Systems (AAMAS)</td><td>A*</td><td>{{getArticlesByName('AAMAS')}}</td></tr>
        <tr><td>International Conference on Intelligent Robots and Systems (IEEE/RJS IROS)</td><td>A</td><td>{{getArticlesByName('IROS')}}</td></tr>
        <tr><td>International Conference on Robotic Computing (IEEE NCA)</td><td>A</td><td>{{getArticlesByName('NCA')}}</td></tr>
        <tr><td>International Conference on Advanced Information Networking and Application (IEEE AINA)</td><td>B</td><td>{{getArticlesByName('AINA')}}</td></tr>
        <tr><td>Symposium on Applied Computing (ACM SAC)</td><td>B</td><td>{{getArticlesByName('SAC')}}</td></tr>
        <tr><td>International Conference on Systems, Man, and Cybernetics (IEEE SMC)</td><td>B</td><td>{{getArticlesByName('SMC')}}</td></tr>
        <tr><td>Symposium on Engineering Interactive Computing Systems (ACM EICS)</td><td>B</td><td>{{getArticlesByName('EICS')}}</td></tr>
        <tr><td>International Conference on Internet of Things (IEEE iThings)</td><td>B</td><td>{{getArticlesByName('ithings')}}</td></tr>
        <tr><td>International Conference in Central Europe on Computer Graphics, Visualization and Computer Vision (WSCG)</td><td>B</td><td>{{getArticlesByName('WSCG')}}</td></tr>
        </tbody>
      </table>
  <br>

  <div *ngFor="let publication of articles">
    <h1 style="padding-top: 6%" id="{{publication.year}}">{{publication.year}}</h1>
    <div *ngFor="let article of publication.published">
      <div class="card">
        <div class="card-header">
          <div class="divBadge" *ngFor="let category of article.paperData">
          <span class="badge rounded-pill" [ngClass]="{
            'bg-acti': category.category == 'ACTI',
            'bg-acl': category.category == 'ACL',
            'bg-keynote': category.category == 'keynote',
            'bg-acf': category.category == 'ACF',
            'bg-other': category.category == 'other'
          }">&nbsp;{{category.category}}&nbsp;</span>&nbsp;
          </div>
          <h5 class="card-title"><span *ngIf="article.id"><a [routerLink]="[article.id]"><b>{{article.title}}</b></a></span>
            <span *ngIf="!article.id"><b>{{article.title}}</b></span>
          </h5>
        </div>
        <div class="card-body">
          <div class="card-body">
            <p><span class="fa" [ngClass]="{
            'fa-globe': article.type == 'inproceedings',
            'fa-newspaper': article.type == 'article'
          }"></span>&nbsp;{{article.description}}</p>
            <p *ngIf="article.bookmark"><span class="fa fa-bookmark"></span>&nbsp;{{article.bookmark}}</p>
            <p *ngIf="article.location"><span class="fa fa-map-marker"></span>&nbsp;{{article.location}}</p>
          </div>
          <span *ngFor="let author of article.authors">
        <span *ngIf="!author.link">{{author.name}}</span>
        <a *ngIf="author.link" target="_blank" href="{{author.link}}">{{author.name}}</a> |
        </span>
        </div>
        <div class="card-footer" style="border-bottom: thick double #cccccc; text-align: right;" >
          <span *ngIf="article.id"><a [routerLink]="[article.id]"><img src="../../assets/icon_abstract.png" height="40"/></a></span>
          <span *ngFor="let resource of article.resources">
          &nbsp;&nbsp;<a *ngIf="resource.link" download href="{{resource.link}}" target="_blank"><img src="../../assets/icon_{{resource.name}}.png" height="40"/></a>
        </span>
          <span *ngIf="article.bibtex">&nbsp;&nbsp;<a (click)="toast($event)" style="cursor: pointer" class="text-primary" [cdkCopyToClipboard]="article.bibtex"><img
            src="../../assets/icon_bibtex.png" height="40"/></a></span>
        </div>
      </div>
    </div>
  </div>

</div>
<app-back-to-top></app-back-to-top>

