<app-header></app-header>
<div class="container">
  <div class="jumbotron">
    <h1 class="display-4">Develop C++ applications with <em>VisibleSim</em> simulator</h1>
    <p class="lead">This tutorial shows how to develop applications for <em>VisibleSim</em> in C++.
      Several basic applications are detailed in this page showing how to:
    </p>
    <ul>
      <li>
        Identify a Blinky Block from the XML description file attributes,
      </li>
      <li>
        Send messages from one module to all the others, including several kinds of data.
      </li>
      <li>
        Receives messages using listener methods.
      </li>
      <li>
        Set a flooding/acknowledgment procedure to transmit an information to one robot to all the others and receive an acknowledgment of reception.
      </li>
    </ul>
  </div>

  <p></p>
  <h2><em>VisibleSim</em> basics</h2>
  <h3>Creation of a new project using the Web Generator</h3>
  <p>The Generator of codeBlock, proposed at the address: <a href="https://services-stgi.pu-pm.univ-fcomte.fr/visiblesim/generator.php#">
    https://services-stgi.pu-pm.univ-fcomte.fr/visiblesim/generator.php#</a> is a useful tool to create the skeleton of
    your <i>VisibleSim</i> application.</p>

  <p>A video tutorial showing the step-by-step creation of the skeleton of an application for <em>VisibleSim</em> is available below:</p>
    <youtube-player
      videoId="FVjxzKxAIlI"
      suggestedQuality="highres"
      width="800px"
      height="500px"
    ></youtube-player>
    <!--<a class="btn btn-secondary" href="https://youtu.be/FVjxzKxAIlI"><span class="fab fa-youtube"></span>&nbsp;YouTube chanel</a>.-->

  <h2>Create a first distributed program</h2>
  <p>Open the Generator page, create a first application named "<samp>myApp</samp>" and select <kbd>Blinky Block</kbd> robot.</p>

  <p>The next step consists in selecting a list of optional functions, that will be add in your generated code.
    For each of them, you can read a short explanation placing your mouse pointer over the '?' mark.
    For this first program, check the following functions:
    <kbd>parseUserBlockElements()</kbd>, <kbd>onUserKeyPressed()</kbd> and <kbd>onTap()</kbd>.</p>

  <p>The last configuration concerns the management of messages enabling communication between modules.
    As we want to flood a message from a leader - to construct a spanning tree -
    this message will embed a pair of integer values, then name the new message ''<kbd>broadcast</kbd>'' and write
    ''<kbd>pair&lt;int,int&gt;</kbd>'' for its type. Click on <kbd>Update and Generate</kbd> button to get a new line
    for a new message. Add a new message named ''<kbd>acknowledge</kbd>'' with no data and regenerate the code.</p>
  <img src="https://etudiants-stgi.pu-pm.univ-fcomte.fr/tp_bpiranda/matiereProgrammable/images/generator.png" alt="Generator" />

  <p>Check the 4 generated sources in the different tabs (Header File, Main file, BlockCode file and MakeFile), download
    the zip file, uncompress it and copy the directory into the <samp>ApplicationSrc directory</samp>.
    In the <samp>ApplicationSrc</samp> directory, create a subdirectory with the application name and move de ''.xml''
  file into this directory.</p>
  <p>Under linux, add the myApp to the source list of directories, in the first line of the <samp>ApplicationSrc/MakeFile</samp>:</p>
  <textarea highlight-js [options]="{}" [lang]="'make'">
  SUBDIRS = myApp
  </textarea>
  <p>and compile from the VisibleSim-Tutorials directory.</p>
  <textarea highlight-js [options]="{}" [lang]="'shell'">
make clean;
make -j 8;
  </textarea>
  <p>Under windows, add the following lines to your <samp>CMakeLists.txt</samp> file in order to add the new entry
    <samp>myApp</samp> to the <samp>[Edit Run/Debug Configuration]</samp> menu of CLion:</p>
<textarea highlight-js [options]="{}" [lang]="'make'">
add_executable(myApp applicationsSrc/myApp/myApp.cpp applicationsSrc/myApp/myAppCode.cpp)
target_link_libraries(myApp -lBlinkyBlocks -lfreeglut -lmuparser -lOpenGL32 -lglu32 -lglew32d) #
</textarea>

  <p>You can now compile your application. Under Linux, it will automatically create the <samp>applicationBin/myApp</samp>
  and place the runnable file <samp>myApp</samp> in it.</p>

  <p>The last step consists in creating a basic configuration file (by default named <samp>config.xml</samp>)
  in the <samp>applicationBin/myApp</samp> directory. Copy the following xml code into your <samp>config.xml</samp> file.</p>

  <textarea highlight-js [options]="{}" [lang]="'xml'">
  <?xml version="1.0" standalone="no" ?>
  <vs>
    <visuals>
        <window size="1800x900" backgroundColor="0xffffff" gradientColor="0x00ffff"/>
        <render shadows="true" grid="true"/>
    </visuals>
    <myTag myVar="1"/>
    <world gridSize="10,10,10" >
	    <blockList color="128,128,128">
		  <block position="1,1,0"/>
		  <block position="2,1,0" leader="true" color="255,255,0"/>
		  <block position="3,1,0"/>
		  <block position="4,1,0"/>
		  <block position="5,1,0"/>
		  <block position="2,2,0"/>
		  <block position="5,2,0"/>
		  <block position="2,3,0"/>
		  <block position="3,3,0"/>
		  <block position="4,3,0"/>
		  <block position="5,3,0"/>
		  <block position="2,3,1"/>
		  <block position="5,3,1"/>
		  <block position="2,3,2"/>
		  <block position="5,3,2"/>
		  <block position="2,3,3"/>
		  <block position="3,3,3"/>
		  <block position="4,3,3"/>
		  <block position="5,3,3"/>
	  </blockList>
  </world>
  </vs>
  </textarea>

  <p>The second block, in the blockList tag has a special attribute <samp>leader="true"</samp>.
    In order to use it in our code, create a new private attribute in your <samp>myAppCode</samp> class:</p>
  <textarea highlight-js [options]="{}" [lang]="'c++'">
      bool isLeader=false;
  </textarea>
  <p>And update the <samp>parseUserBlockElements</samp> method in order to set this attribute to true if it is mentioned in the xml file.</p>
  <textarea highlight-js [options]="{}" [lang]="'c++'">
void MyAppCode::parseUserBlockElements(TiXmlElement *config) {
    const char *attr = config->Attribute("leader");
    isLeader = (attr?Simulator::extractBoolFromString(attr):false);
    if (isLeader) {
        std::cout << getId() << " is leader!" << std::endl; // complete with your code
    }
}
  </textarea>
  <p>Finally, update your start method to use this module as leader.</p>

  <p>It is also possible to add global parameters which are accessible by all the modules using the <samp>parseUserElements</samp>
  method. For example, the <samp>myTag</samp> line of the previous XML file can be analyzed by the following code:</p>
  <textarea highlight-js [options]="{}" [lang]="'c++'">
   void MyAppCode::parseUserElements(TiXmlDocument *config) {
    TiXmlNode *node = config->FirstChild("parameters");
    if (!node) return;
    TiXmlElement *element = node->ToElement();
    const char *attr = element->Attribute("myColor");
	if (attr) {
		myColor=Simulator::extractColorFromString(attr);
		std::cout << "myColor = " << myColor << std::endl;
    } else {
		myColor=GREY;
	}
}
  </textarea>


  <h2>Start a simulation</h2>
  <p>A simulation is started using <kbd>R</kbd> or <kbd>r</kbd> keys from <em>VisibleSim</em> interface.
    It runs all <samp>startup()</samp> functions of the robots.
    Using <kbd>r</kbd>, it runs a 'realtime' simulation trying to follow the delay between messages, while using <kbd>R</kbd> runs a simulation as faster as possible.</p>
  <p>The log window of <em>VisibleSim</em> is opened using the key <kbd>i</kbd> or in clicking on the arrows on the right of the window. It is also possible to change the size of the text using <kbd>t</kbd> key or in clicking on the small manifier icon on the top right.
    <br>If a robot is selected (<kbd>Ctrl</kbd>+<kbd>Left Click</kbd> on the robot) this window contains its messages only, otherwise every messages are printed.</p>

  <p class="bg-warning">It is possible to get all the generated message in a log file using the <samp>'-l'</samp> running option, it generates the <samp>simulator.log</samp> file with all messages. It gives a powerful tool for a posteriori simulation analysis.</p>

  <img src="https://etudiants-stgi.pu-pm.univ-fcomte.fr/tp_bpiranda/matiereProgrammable/images/snap01.png" alt="VisibleSim overview">

  <h2>Manage messages</h2>
  <p><em>VisibleSim</em> proposes two functions to make a module send a message to its neighbors.<br>
    The first one sends a message to all the neighbors (but some exceptions are possible), the second one sends a messages to a pointed connected neighbor.</p>

  <h3>General use</h3>
  <p>The <samp>sendMessageToAllNeighbors</samp> function sends a message to all connected neighbors and returns the number of messages effectively sent.
    Two versions are available, the second one proposes to name the message in order to add information in the log window at each call.</p>
  <textarea highlight-js [options]="{}" [lang]="'c++'">
int sendMessageToAllNeighbors(Message*msg,Time t0,Time dt, int nexcept, va_list args);
int sendMessageToAllNeighbors(const char*msgString, Message*msg,Time t0,Time dt, int nexcept, va_list args);
  </textarea>

  <h5>Parameters:</h5>
  <ul>
    <li>
      <samp>msgString</samp>: comments on the messages for the log console
    </li>
    <li>
      <samp>msg</samp>: the message
    </li>
    <li>
      <samp>t0</samp>: delay after the delivery
    </li>
    <li>
      <samp>dt</samp>: variation of the delay, delay will be between t0 and t0+dt
    </li>
    <li>
      <samp>nexcept</samp>: number of exceptions
    </li>
    <li>
      <samp>args</samp>: lists of P2PNetworkInterface that will not receive the message.
    </li>
  </ul>

  <h3>Examples</h3>
  <p>Example that sends a message to every neighbors, this message contains a pair of values, here (1,1). This message is sent by the leader to every neighbors to activate the flooding.</p>
  <textarea highlight-js [options]="{}" [lang]="'c++'">
    sendMessageToAllNeighbors("distance",new MessageOf&lt;pair&lt;int,int&gt;&gt;(BROADCAST_MSG_ID,make_pair(1,1)),1000,100,0);
  </textarea>
  <p>Example that sends a message to every neighbors but the sender (P2PNetworkInterface), this message contains a pair of values, here (distance+1,currentRound). This message is sent to all neighbors but the sender to continue the flooding after a reception.</p>
  <textarea highlight-js [options]="{}" [lang]="'c++'">
    sendMessageToAllNeighbors("distance",new MessageOf&lt;pair&lt;int,int&gt;&gt;(BROADCAST_MSG_ID,make_pair(distance+1,currentRound)),1000,100,1,sender);
  </textarea>
  <p>To send a message to a unique connector, you must first get the corresponding P2PNetworkInterface, and call the sendMessage function.</p>
  <textarea highlight-js [options]="{}" [lang]="'c++'">
int sendMessage(Message *msg,P2PNetworkInterface *dest,Time t0,Time dt);
int sendMessage(const char *msgString,Message *msg,P2PNetworkInterface *dest,Time t0,Time dt);
  </textarea>

  <p>For example, the following call creates a new message <samp>ACKNOWLEDGE_MSG_ID</samp> without any data, and sends it to <samp>parent</samp>.</p>
  <textarea highlight-js [options]="{}" [lang]="'c++'">
    sendMessage("ack2parent",new Message(ACKNOWLEDGE_MSG_ID),parent,1000,100);
  </textarea>
  <p>It is possible to get the P2PNetworkInterface associated to a neighbor given by the direction of its connector.<br>
    In the following code, the <samp>module->getInterface(SCLattice::Top)</samp> returns a pointer to the top connector interface of the module.
    You must check if the connector is connected to deduce that there is a connected neighbor at the top of the current module.</p>
  <textarea highlight-js [options]="{}" [lang]="'c++'">
    // Get the P2PNetworkInterface
    P2PNetworkInterface *p2p = module->getInterface(SCLattice::Top);
    if (p2p!=nullptr && p2p->isConnected()) {
      cout << "Top=" << p2p->getConnectedBlockBId() << endl;
    }
  </textarea>

  <h2>Comments and debug</h2>
  <p>There is many tools to debug your codes with <em>VisibleSim</em>. The first one, is included in message sending functions, if you precise a string as first parameter to <samp>sendMessageToAllNeighbors</samp> and <samp>sendMessage</samp> a new entry in the log window will confirme that the message has been sent.</p>
  <p>The second tool is the <samp>console</samp> operator which add a timed string in the log window.<br>
    For example, the following code write "start" and the ID of the robot, in the log window.</p>
  <textarea highlight-js [options]="{}" [lang]="'c++'">
    console << "start " << getId() << "\n";
  </textarea>
  <p>A third tool is the log file generated by your application if you add the "<samp>-l</samp>" option on the command line. It generate a <samp>simulator.log</samp> file, which contains lot of information on each step of the program, plus the console messages.</p>

  <h2>Exercise 1</h2>
  <p>The following code allows to create a gradient of colors from the leader of the configuration.<br>
    Study this code carefully, especially how messages are sent and received, and run it several times to understand how it works. Also look at the messages received by the robots during the simulation in the log window.<br>
    <b>Update the program, in order to change the leader when you 'tap' a block (the tapped block became the leader), and update the gradient from this new leader.</b></p>

  <p>To activate the tap, you must first run your application with the "<samp>-s inf</samp>" option, and being in run mode, <kbd>Right click</kbd> on the tapped block and <kbd>Ctrl</kbd> key, to open the contextual menu, and finally click on the Tap menu entry.</p>

  <p>Test your code on the configurations availaible in <a target="_blank" href="https://etudiants-stgi.pu-pm.univ-fcomte.fr/tp_bpiranda/matiereProgrammable/config/">this directory</a>.</p>

  <h3><samp>myApp.h</samp></h3>
  <textarea highlight-js [options]="{}" [lang]="'c++'">

/**
 * @file myAppCode.hpp
 * Generated by VisibleSim BlockCode Generator
 * https://services-stgi.pu-pm.univ-fcomte.fr/visiblesim/generator.php#
 * @author yourName
 * @date 2022-09-22
 **/

#ifndef myAppCode_H_
#define myAppCode_H_

#include "robots/blinkyBlocks/blinkyBlocksSimulator.h"
#include "robots/blinkyBlocks/blinkyBlocksWorld.h"
#include "robots/blinkyBlocks/blinkyBlocksBlockCode.h"

static const int BROADCAST_MSG_ID = 1001;
static const int ACKNOWLEDGE_MSG_ID = 1002;

using namespace BlinkyBlocks;

class MyAppCode : public BlinkyBlocksBlockCode {
private:
    BlinkyBlocksBlock *module = nullptr;
    bool isLeader=false;
    int distance=0;
    int currentRound=0;
    int nbWaitedAnswers=0;
    P2PNetworkInterface *parent= nullptr;
public :
    MyAppCode(BlinkyBlocksBlock *host);
    ~MyAppCode() {};

/**
  * This function is called on startup of the blockCode, it can be used to perform initial
  *  configuration of the host or this instance of the program.
  * @note this can be thought of as the main function of the module
  */
    void startup() override;

/**
  * @brief Message handler for the message 'broadcast'
  * @param _msg Pointer to the message received by the module, requires casting
  * @param sender Connector of the module that has received the message and that is connected to the sender
  */
    void myBroadcastFunc(std::shared_ptr<Message>_msg,P2PNetworkInterface *sender);

/**
  * @brief Message handler for the message 'acknowledge'
  * @param _msg Pointer to the message received by the module, requires casting
  * @param sender Connector of the module that has received the message and that is connected to the sender
  */
    void myAcknowledgeFunc(std::shared_ptr<Message>_msg,P2PNetworkInterface *sender);

/**
  * @brief Provides the user with a pointer to the configuration file parser, which can be used to read additional user information from each block config. Has to be overridden in the child class.
  * @param config : pointer to the TiXmlElement representing the block configuration file, all information related to concerned block have already been parsed
  *
  */
    void parseUserBlockElements(TiXmlElement *config) override;

/**
  * User-implemented keyboard handler function that gets called when
  *  a key press event could not be caught by openglViewer
  * @param c key that was pressed (see openglViewer.cpp)
  * @param x location of the pointer on the x axis
  * @param y location of the pointer on the y axis
  * @note call is made from GlutContext::keyboardFunc (openglViewer.h)
  */
    void onUserKeyPressed(unsigned char c, int x, int y) override;

/**
  * @brief This function is called when a module is tapped by the user. Prints a message to the console by default.
     Can be overloaded in the user blockCode
  * @param face face that has been tapped
  */
    void onTap(int face) override;

/*****************************************************************************/
/** needed to associate code to module                                      **/
    static BlockCode *buildNewBlockCode(BuildingBlock *host) {
        return(new MyAppCode((BlinkyBlocksBlock*)host));
    }
/*****************************************************************************/
};

#endif /* myAppCode_H_ */
  </textarea>

  <h3>myApp.cpp</h3>
  <textarea highlight-js [options]="{}" [lang]="'c++'">

/**
 * @file myAppCode.cpp
 * Generated by VisibleSim BlockCode Generator
 * https://services-stgi.pu-pm.univ-fcomte.fr/visiblesim/generator.php#
 * @author yourName
 * @date 2022-09-22
 **/

#include "myAppCode.hpp"

MyAppCode::MyAppCode(BlinkyBlocksBlock *host):BlinkyBlocksBlockCode(host),module(host) {
    // @warning Do not remove block below, as a blockcode with a NULL host might be created
    //  for command line parsing
    if (not host) return;

    // Registers a callback (myBroadcastFunc) to the message of type R
    addMessageEventFunc2(BROADCAST_MSG_ID,
                         std::bind(&MyAppCode::myBroadcastFunc,this,
                                   std::placeholders::_1, std::placeholders::_2));

    // Registers a callback (myAcknowledgeFunc) to the message of type K
    addMessageEventFunc2(ACKNOWLEDGE_MSG_ID,
                         std::bind(&MyAppCode::myAcknowledgeFunc,this,
                                   std::placeholders::_1, std::placeholders::_2));

}

void MyAppCode::startup() {
    console << "start " << getId() << "\n";

    if (isLeader) {
        module->setColor(RED);
        currentRound=1;
        distance=0;
        nbWaitedAnswers=sendMessageToAllNeighbors("distance(1,1)",new MessageOf<pair<int,int>>(BROADCAST_MSG_ID,make_pair(distance+1,currentRound)),1000,100,0);
    } else {
        currentRound=0;
    }
}
void MyAppCode::myBroadcastFunc(std::shared_ptr<Message>_msg, P2PNetworkInterface*sender) {

    MessageOf<pair<int,int>>* msg = static_cast<MessageOf<pair<int,int>>*>(_msg.get());
    pair<int,int> msgData = *msg->getData();

    console << "rec. Flood (" << msgData.first << "," << msgData.second << ") from " << sender->getConnectedBlockId() << "\n";
    if (parent==nullptr || msgData.first<distance) {
        distance=msgData.first;
        setColor(distance);
        currentRound=msgData.second;
        parent=sender;
        string str="distance(";
        str+=to_string(distance+1)+","+to_string(currentRound)+")";
        nbWaitedAnswers=sendMessageToAllNeighbors(str.c_str(),new MessageOf<pair<int,int>>(BROADCAST_MSG_ID,make_pair(distance+1,currentRound)),1000,100,1,sender);
        if (nbWaitedAnswers==0) {
            sendMessage("ack2parent",new Message(ACKNOWLEDGE_MSG_ID),parent,1000,100);
        }
    } else {
        sendMessage("ack2sender",new Message(ACKNOWLEDGE_MSG_ID),sender,1000,100);
    }
}

void MyAppCode::myAcknowledgeFunc(std::shared_ptr<Message>_msg, P2PNetworkInterface*sender) {
    nbWaitedAnswers--;
    console << "rec. Ack(" << nbWaitedAnswers << ") from " << sender->getConnectedBlockId() << "\n";
    if (nbWaitedAnswers==0) {
        if (parent==nullptr) {
            setColor(WHITE);
        } else {
            sendMessage("ack2parent",new Message(ACKNOWLEDGE_MSG_ID),parent,1000,100);
        }
    }
}


void MyAppCode::parseUserBlockElements(TiXmlElement *config) {
    const char *attr = config->Attribute("leader");
    isLeader = (attr?Simulator::extractBoolFromString(attr):false);
    if (isLeader) {
        std::cout << getId() << " is leader!" << std::endl; // complete with your code
    }
}

void MyAppCode::onUserKeyPressed(unsigned char c, int x, int y) {
    switch (c) {
        case 'a' : // update with your code
            std::cout << "key a" << endl;
            break;
        case 'd' : break;
    }
}

void MyAppCode::onTap(int face) {
    std::cout << "Block 'tapped':" << getId() << std::endl; // complete with your code here
}
</textarea>

  <h2>Exercice 2</h2>
  <p>The goal of this exercise is to draw a diameter (BC): i.e. one of the longest shortest distance between to modules.</p>
  <p>Write the new code that:
    Let <var>A</var> be a robot identified in the XML description file (<samp>isA="true"</samp>) in Red. Elect <var>B</var> (in yellow) as the module furthest from <var>A</var>, then <var>C</var> (in blue) as the module furthest from <var>B</var>. And finally draw in White the shortest path between <var>B</var> and <var>C</var> (see the image made with this configuration below for more details).</p>
  <textarea highlight-js [options]="{}" [lang]="'hell'">
 ./app -c configExo2.xml
  </textarea>
  <p>Finally, colored in brown, the module <var>D</var> placed at the midlle of <var>BC</var></p>

  <p class="bg-warning"><b>Question: Is <var>D</var> the center of the system ?</b><br>You may check using your first application on choosing <var>D</var> as the leader, with several config files.</p>

  <img src="https://etudiants-stgi.pu-pm.univ-fcomte.fr/tp_bpiranda/matiereProgrammable/images/snap02.png" alt="exercise2">

  <h2>To return</h2>
  <p>At the end of your work (before next session), please send by <a href="mailto:benoit.piranda@univ-fcomte.fr">mail</a>, for each group (4 people max):</p>
  <ul>
    <li>A text file with the list of members of the group.</li>
    <li>The code and the xmlfile you use for the two exercises (<samp>applicationsSrc/myApp*.[cpp][h]</samp> and <samp>applicationBin/*.xml</samp>).</li>
    <li>Please, add comments on your code to explain the meaning of each kind of message</li>
  </ul>
</div>
