<app-header></app-header>
<div class="container">
  <div id="head" class="jumbotron">
    <h1 class="display-4">Research</h1>
    <div class="row">
      <div class="col-sm"><h2 style="text-align: center; cursor: pointer" (click)="scrollTo(hdr)">HDR</h2></div>
      <div class="col-sm"><h2 style="text-align: center; cursor: pointer" (click)="scrollTo(thesis)">Thesis</h2></div>
      <div class="col-sm"><h2 style="text-align: center; cursor: pointer" (click)="scrollTo(directed)">Supervised
        Thesis</h2></div>
    </div>
  </div>

  <!--
  <h1 class="display-5 text-success">New thesis proposal</h1>
  <h2>Design and program self-reconfigurable lattice-based structures for Mechanical Control of Programmable Matter</h2>
  <p class="text-success" align="right" style="padding-right: 50px;" *ngIf="collapseNewThesis">Expand for more information and application.</p>
  <button (click)="collapseNewThesis = !collapseNewThesis" class="btn btn-outline-success btn-toggle"><span class="fa"
                                                                                                            [ngClass]="{
    'fa-plus' : collapseNewThesis,
    'fa-minus' : !collapseNewThesis
  }"></span></button>
  <div *ngIf="!collapseNewThesis" style="border: 2px solid green; padding: 10px">
    <ul>
      <li>Supervisor: Dr. Benoît Piranda (HDR)</li>
      <li>Laboratory: FEMTO-ST/DISC/OMNI (CNRS) and in collaboration with FEMTO-ST/DMA/D.SMART (CNRS)</li>
      <li>From 2022-10-01 to 2025-09-30.</li>
      <li>Registration closes on June 1, 2022.</li>
    </ul>
    <h3>Context and scientific domain</h3>
    <p>
      Programmable matter is formed of elementary devices that are organized in a regular lattice. Usually, these are
      autonomous and connected micro-systems, with movement and communication capabilities (see Fig. 2 and <a
      href="https://www.programmable-matter.com/">Programmable Matter web site</a>).</p>
    <p>
      Applications are numerous in the field of tangible interfaces, or to build interactive 3D objects, composed of
      thousands of modular robots able to transform infinitely, as the example of the character presented on Fig. 1.
    </p>
    <div style="border-top: 1px solid black; border-bottom: 1px solid black">
    <div class="row" >
      <div style="height: fit-content; top: 0px;" class="col-2">
        <img width="100%" src="https://etudiants-stgi.pu-pm.univ-fcomte.fr/tp_bpiranda/doc/images/legoman.png"/>
      </div>
      <div style="height: fit-content; top: 85px;" class="col-4">
        <img width="100%" src="https://etudiants-stgi.pu-pm.univ-fcomte.fr/tp_bpiranda/doc/images/catoms_datoms.png"/>
      </div>
      <div style="height: fit-content; top: 50px;" class="col-3">
        <img width="100%" src="https://etudiants-stgi.pu-pm.univ-fcomte.fr/tp_bpiranda/doc/images/catoms_proto.png"/>
      </div>
      <div class="col-3">
        <img width="100%" src="https://etudiants-stgi.pu-pm.univ-fcomte.fr/tp_bpiranda/doc/images/3DSelfReconf.png"/>
      </div>
    </div>
    <div class="row">
      <div class="col-2">
        <p class="figure-caption">Fig. 1. Configuration made of 45,000 3D&nbsp;Catoms.</p>
      </div>
      <div class="col-4">
        <p class="figure-caption">Fig. 2. Motions of 3D&nbsp;Catoms using rotation (top images) and motions of Datoms using
          deformation (bottom images).</p>
      </div>
      <div class="col-3">
        <p class="figure-caption">Fig. 3. First prototype of Catom 3D. The 3.6 mm diameter shell, the M3 processor and a
          preview of the assembly.</p>
      </div>
      <div class="col-3">
        <p class="figure-caption">Fig.4. Structure of an object made of modular robots, placed on an smart base (sandbox), with
          inner scaffolding
          (blue) and outer shell (yellow).</p>
      </div>
    </div>
    </div>
    <p>The building of an object in programmable material implies to assemble all the elements which compose it.
      Even before giving the object specific functionalities, the assembly that constitutes it must remain stable: to do
      this, it must verify physical rules that take into account its environment (external forces), its cohesion
      capacities (actuators that allow the elements to stick to each other), and intrinsic parameters such as its
      geometry and its weight.</p>
    <p>However, the elements that make up the programmable material are systems whose memory and calculation capacities
      are very limited, making it impossible to store the data for the entire configuration in a single module. The
      problem presented here is to make it possible for the elements to deduce the stability of the system itself.
      To do this, each module can communicate with its direct neighbors, i.e. exchange messages that can contain only a
      few dozen bytes of data.</p>
    <p>These elements are part of a ensemble, they constitute a graph whose constraints are defined by its connectivity,
      i.e. the links with the direct geometric neighbors only. The algorithmic solving of problems such as the
      determination of the center of mass in such a system must be the result of an internal treatment to the graph
      itself. The modules, nodes of the graph, execute local treatments transmitted by messages on the links to locate
      this center. There is no central memorization of the graph, we use here distributed algorithms [7] which rely on
      multiple diffusions of local data in the graph to deduce global information.</p>
    <p>In recent works we have presented the interest of defining porous structures formed by robots able to move by
      rotations: the 3D catoms [1] (see Fig. 3). These structures [2] (called Scaffold, cf. Fig. 4.) offer the
      possibility to free modules to transit in the inner network to reach any point of the scaffold from sources placed
      at its base. This structure constitutes the framework of the object and must guarantee its mechanical stability,
      to avoid any collapse or tilting.  In a second time this structure will be covered if necessary with a thin layer
      of modules to refine the shape of the object thus modeled.</p>
    <p>This thesis is part of the EIPHI SELF-CONTROL (Self-reconfigurable lattice-based structure for vibration control)
      project which aims at investigating new concepts of programmable material-based structures with organization and
      reconfiguration capabilities allowing the validation of mechanical criteria. This project requires to set up
      collaborations between the DMA (Applied Mechanics) and DISC (Complex Systems Computing) teams of FEMTO-ST as well
      as the EIPHI IOT (Internet Of Things) and Smart Mechanics masters.</p>
    <p>Both teams are already proposing research results in the study of modular systems and the physical phenomena they
      can handle. On the side of the DISC department, the works concern: </p>
    <ul>
      <li>The definition of autonomous modules [1] able to move in a grid in order to contribute to the reconfiguration
        of the whole;</li>
      <li>The development of distributed algorithms for the construction and self-reconfiguration of module sets
        [2][3][4];</li>
      <li>A first proposal for a distributed algorithm allowing to compute the geometrical equilibrium of a set of
        Blinky Blocks [5];</li>
      <li>The development of a behavioral simulator to simulate and visualize large sets of modules running the same
        internal program [6].</li>
    </ul>
    <p>In the same time, the D-SMART team of the DMA department develops strategies for the architecture of materials
      and structures in order to control their mechanical behavior. The control of the systems has been achieved so far
      by multiphysics couplings (piezoelectric materials, electroactive polymers, thermomechanical couplings), which
      allows to obtain reconfigurable devices in behavior, but not to modify spatially the geometry of the structure as
      it is envisaged in the thesis. Recent work focuses on:</p>
    <ul>
      <li>Spatial organization of stiffness and damping to drive forbidden frequency bands or reciprocity of
        structures [8];</li>
      <li>The efficiency frequency bands of acoustic [9] or mechanical [10] origami resonators;</li>
      <li>The damping in acoustic black holes [11] or composite materials [12].</li>
    </ul>
    <h3>Subject of the thesis</h3>
    <p>The problem concerns the definition of distributed algorithms that will allow a set of modules placed in a
      Scaffold-type structure to detect and react to mechanical constraints.<br>
      All the proposed distributed algorithms should be developed on the VisibleSim simulator [6] and evaluated on
      configurations of increasing complexity.</p>
    <p>Initially, the aim is to respond to static conditions. Taking into account external forces such as gravity is a
      first step. The aim is to propose a distributed algorithm allowing a modular system to anticipate a tipping, i.e.
      to determine if the displacement of a module towards a new position will generate an unbalanced system, and cause
      a tipping of the structure. Similarly, considering the forces connecting the elements at the connection points,
      the system must be able to determine if these forces are sufficient to support the complete system without causing
      collapse. This work can be done in several steps by considering first simple structures and a centralized system
      before proposing a distributed resolution method, adapted to systems of greater complexity.</p>
    <p>In a second step, the system, which will integrate sensors, will have to propose modifications of its geometry to
      change its mechanical characteristics in order to respond to new constraints or to adapt to a change of
      solicitation. The different strategies envisaged will allow to address problems of static behavior (for example,
      spatial reorganization to adapt to an evolution of the stress loading, or to make the lattice auxetic, or even
      chiral) and dynamic behavior (for example, tuning of resonators, piloting of band gaps of elastic waves).</p>
    <h2>Prerequisite</h2>
    <ul>
      <li>Training and experience in graph algorithms and distributed algorithms.</li>
      <li>Knowledge of object-oriented programming in C++ (17).</li>
      <li>Experience in Mechanical Physics.</li>
    </ul>
    <h2>Other activities of the student during the thesis</h2>
    <p>The thesis will take place mainly in the DISC/OMNI premises in Montbéliard. Within the framework of the
      collaboration initiated by the SELF-CONTROL project, the PhD student will present his work to both teams
      (DISC and DMA) and to students of the IOT and Smart Mechanics masters, and participate in the supervision of
      projects in these courses.</p>
    <h2>Application form</h2>
    <p>Please, send your application by mail to <a
      href="mailto:benoit.piranda@femto-st.fr?subject=[Thesis application]">benoit.piranda@femto-st.fr</a>.</p>
    <p>Application needs to include:</p>
    <ul>
      <li>A curriculum vitae</li>
      <li>A cover letter presenting your interest for the proposed subject.</li>
      <li>A transcripts of Masters Diplomas, including all course marks from both 1st and 2nd Year;</li>
      <li>Letter(s) of reference from your Master Professors;</li>
      <li>If possible a statement of ranking in your class;</li>
      <li>Evidence of competence in English and French.</li>
    </ul>
    <h2>Pdf versions</h2>
    <p>Complete version in pdf, <a target="_blank"
                                   href="https://etudiants-stgi.pu-pm.univ-fcomte.fr/tp_bpiranda/doc/Sujet_SELF-CONTROL.pdf">in
      French</a>,
      <a target="_blank"
         href="https://etudiants-stgi.pu-pm.univ-fcomte.fr/tp_bpiranda/doc/Sujet_SELF-CONTROL_english.pdf">in English</a>.
    </p>
    <h3>References</h3>
    <ol>
      <li>Benoît Piranda and Julien Bourgeois, “Designing a quasi-spherical module for a huge modular robot to create programmable matter”, Autonomous Robots Journal, special issue: ‘Distributed Robotics: From Fundamentals to Applications’, 2018, pp. 1-15, <a href="https://doi.org/10.1007/s10514-018-9710-0">https://doi.org/10.1007/s10514-018-9710-0</a>.</li>
      <li>Pierre Thalamy, Benoît Piranda, and Julien Bourgeois, “Engineering Efficient and Massively Parallel 3D Self-Reconfiguration Using Sandboxing, Scaffolding, and Coating”, Journal of Robotics and Autonomous System, Aug. 2021. <a href="https://doi.org/10.1016/j.robot.2021.103875">https://doi.org/10.1016/j.robot.2021.103875</a>.</li>
      <li>Pierre Thalamy, Benoît Piranda, Frédéric Lassabe and Julien Bourgeois, “Deterministic Scaffold Assembly By Self-Reconfiguring Micro-Robotic Swarms”, Journal on Swarm and Evolutionary Computation, special Issue on: "Parallel/Distributed Combinatorics and Optimization”, vol. 58, Nov. 2020, pp. 10072 (18). <a href="https://doi.org/10.1016/j.swevo.2020.100722">https://doi.org/10.1016/j.swevo.2020.100722</a>.</li>
      <li>Thadeu Knychala Tucci, Benoît Piranda and Julien Bourgeois, “A Distributed Self-Assembly Planning Algorithm for Modular Robots”, 17th International Conference on Autonomous Agents and Multiagent Systems (AAMAS 2018), Stockholm, Sweden, July 11-13, 2018, pp.550-558. <a href="https://dl.acm.org/doi/10.5555/3237383.3237465">https://dl.acm.org/doi/10.5555/3237383.3237465</a>.</li>
      <li>Piranda, Benoît; Chodkiewicz, Pawel; Holobut, Pawel; Bordas, Stephane; Bourgeois, Julien; Lengiewicz, Jakub, “Distributed prediction of unsafe reconfiguration scenarios of modular-robotic Programmable Matter”, IEEE Transactions on Robotics Journal (T_RO). <a href="https://doi.org/10.1109/TRO.2021.3074085">https://doi.org/10.1109/TRO.2021.3074085</a>.</li>
      <li>Pierre Thalamy, Benoît Piranda, André Naz and Julien Bourgeois, “VisibleSim: A Behavioral Simulation Framework for Lattice Modular Robots”, Journal of Robotics and Autonomous System, 2021. <a href="https://doi.org/10.1016/j.robot.2021.103913">https://doi.org/10.1016/j.robot.2021.103913</a>.</li>
      <li>Michel  Raynal, Distributed  Algorithms  for  Message-Passing Systems,  Springer,  2013.<a href="https://link.springer.com/book/10.1007%2F978-3-642-38123-2">https://link.springer.com/book/10.1007%2F978-3-642-38123-2</a>. </li>
      <li>Kaijun Yi, Morvan Ouisse, Emeline Sadoulet-Reboul and Gaël Matten, “Active metamaterials with broadband controllable stiffness for tunable band gaps and non-reciprocal wave propagation”, Smart Materials and Structures, Volume 28, Number 6, 10 May 2019.<a href="https://iopscience.iop.org/article/10.1088/1361-665X/ab19dc">https://iopscience.iop.org/article/10.1088/1361-665X/ab19dc</a>. </li>
      <li>Amine Benouhiba, Patrick Rougeot, Nicolas Andreff, Kanty Rabenorosoa and Morvan Ouisse, “Origami-based auxetic tunable Helmholtz resonator for noise control”, Smart Materials and Structures, Volume 30, Number 3, 15 February 2021. <a href="https://iopscience.iop.org/article/10.1088/1361-665X/abe180">https://iopscience.iop.org/article/10.1088/1361-665X/abe180</a>.</li>
      <li>Kaijun Yi, Gaël Matten, Morvan Ouisse, Emeline Sadoulet-Reboul, Manuel Collet and Gaël Chevallier, “Programmable metamaterials with digital synthetic impedance circuits for vibration control”, Smart Materials and Structures, Volume 29, Number 3, 27 January 2020. <a href="https://iopscience.iop.org/article/10.1088/1361-665X/ab6693">https://iopscience.iop.org/article/10.1088/1361-665X/ab6693</a>.</li>
      <li>Morvan Ouisse, David Renault, Pauline Butaud, Emeline Sadoulet-Reboul, “Damping control for improvement of acoustic black hole effect”, Journal of Sound and Vibration, Vol. 454, 18 August 2019, Pages 63-72. <a href="https://doi.org/10.1016/j.jsv.2019.04.029">https://doi.org/10.1016/j.jsv.2019.04.029</a>.</li>
      <li>P. Butaud, D. Renault, B. Verdin, M. Ouisse and G. Chevallier, “In-core heat distribution control for adaptive damping and stiffness tuning of composite structures”, Smart Materials and Structures, Volume 29, Number 6, 28 April 2020. <a href="https://doi.org/10.1088/1361-665X/ab802a">https://doi.org/10.1088/1361-665X/ab802a</a>. </li>
    </ol>
  </div>
-->
  <h1 class="display-5">Events</h1>
  <table class="table">
    <tr><td><b>DARS 2022 Conference in Montbéliard.</b> It was a great honnor to welcome the 16th International
      Symposium on Distributed Autonomous Robotic Systems in our town during this last week of november 2022.<br/>
      We were able to attend 3 exciting keynotes presented by Alcherio Martinoli, Jessica Flack and Kirstin Petersen.<br/>
      The 39 papers selected by our Program Chairs under the direction of Sabine Hauert were presented with high quality
      supports and provided an opportunity for many discussions. Congratulations to our Best Paper Award
      and our Student Best Paper Award.<br/>
      Thanks to Julien Bourgeois, Justin Werfel, all the authors, speakers, chairs, participants, organizers who made
      this conference a scientific and social success.
    </td><td><img src="../assets/events/DARS_cut.jpg" width="400px"/></td></tr>
    <tr><td><b>Guinness World Record</b> on the "Largest autonomous light block structure", with Julien Bourgois, Frédéric Lassabe, Rémy Tribhout and Grégory Lasserre.<br/>
      We connect together 1824 Blinky Blocks to create an interactive distributed multimedia installation.<br/>
      Blinky blocks are autonomous 4&nbsp;cm x 4&nbsp;cm cubic robots are able to run a program,
      react to sound and tap, communicate with their direct neighbors, light in color and make sounds.<br/>
      In this application, each robot reacts to the noise or the music in changing it lighting level and if the signal is
      at an enough level it sends a message to neighbors in order to make them react too.<br/>
      More detail <a href="https://www.guinnessworldrecords.com/world-records/663758-largest-autonomous-light-block-structure">in the official web site.</a>
    </td><td>
      <youtube-player
        videoId="m7Bx3EfYFMc"
        suggestedQuality="highres"
        width="400px"
        height="250px"
      ></youtube-player>
    </td></tr>
  </table>

  <h1 class="display-5">Projects</h1>
  <p>I am an active member of the following projects:</p>
  <table class="table">
    <tbody>
    <tr>
      <th scope="row">Programmable Matter Project<br><a target="_blank" href="https://www.programmable-matter.com/">https://www.programmable-matter.com/</a>
      </th>
      <td>Programmable Matter is composed of micro-robots, millimeter moving computers that will have the ability to
        move around each other, communicate, change color, and latch to other micro-robots to form different
        shapes.<br/>
        The aim of this international project led by Femto-ST Institute is to design and produce micro-robots and
        algorithms to make a Programmable Matter.
      </td>
      <td>
        <youtube-player
          videoId="LY2TFPWiY9o"
          suggestedQuality="highres"
          width="400px"
          height="250px"
        ></youtube-player>
      </td>
    </tr>
    <tr>
      <th scope="row">VisibleSim Simulator<br/><a target="_blank" href="https://www.programmable-matter.com/simulation">https://www.programmable-matter.com/simulation</a>
      </th>
      <td>
        I lead the development of the behavioral simulator of modular robots VisibleSim. <br>
        VisibleSim is a framework for creating behavioral simulators for distributed lattice-based modular robotic
        systems in a regular 3D environment. It supports modules in all kinds of lattices and with diverse motion
        capabilities, embedded sensors, and actuators.
        VisibleSim is available on GitHub <a href="https://github.com/VisibleSim/VisibleSim"><span
        class="fab fa-github"></span>VisibleSim</a>.
        Some tutorial to install and program Robots using VisibleSim:
        <ul style="list-style-type: none; padding: 0; margin: 0;">
          <li><a class="toComponents" (click)="toInstallTutorial()"><span class="fa fa-wrench"></span>&nbsp;Installation
            Tutorial</a></li>
          <li><a href="http://ceram.pu-pm.univ-fcomte.fr:5015/visiblesim/doc/generator.php"><span
            class="fa fa-wrench"></span>&nbsp;Code Block Generator</a></li>
          <li><a class="toComponents" (click)="toVSTP1()"><span class="fa fa-wrench"></span>&nbsp;Programming Tutorial
            #1</a></li>
        </ul>
      </td>
      <td>
        <youtube-player
          videoId="N09KElCbUNk"
          suggestedQuality="highres"
          width="400px"
          height="250px"
        ></youtube-player>
      </td>
    </tr>
    <tr>
      <th scope="row">Blinky Blocks V2 robots<br/><a target="_blank"
                                                     href="https://www.programmable-matter.com/technology/blinky-blocks">https://www.programmable-matter.com/technology/blinky-blocks</a>
      </th>
      <td>The Blinky Blocks system is a modular distributed execution environment composed of centimeter-size blocks
        that
        are attached to each other using magnets. Each block, roughly a 40 mm cube, has sufficient processing,
        communication
        (serial link with up to 6 neighbors), and storage capabilities to implement a wide variety of distributed tasks.<br/>
        Some tutorial to configure and program Blinky Blocks:
        <ul style="list-style-type: none; padding: 0; margin: 0;">
          <li><a class="toComponents" (click)="toBBInstall()"><span class="fa fa-wrench"></span>&nbsp;Installation
            Tutorial</a></li>
          <li><a class="toComponents" (click)="toBBTP1()"><span class="fa fa-wrench"></span>&nbsp;Programming Tutorial
            #1</a></li>
          <li><a class="toComponents" (click)="toBBTP2()"><span class="fa fa-wrench"></span>&nbsp;Programming Tutorial
            #2</a></li>
        </ul>

      </td>
      <td>
        <youtube-player
          videoId="97b31vvtM08"
          suggestedQuality="highres"
          width="400px"
          height="250px"
        ></youtube-player>
      </td>
    </tr>

    </tbody>
  </table>

  <h1 class="display-5">Personnal works</h1>
  <h2 #hdr class="display-6">HDR "<i>Habilitation à Diriger les Recherches</i>" at the Bourgogne Franche-Comté University</h2>
  <p>Defended 2020 November 12th</p>
  <table class="table">
    <tbody>
    <tr>
      <th scope="row">Title:</th>
      <td>“Designing and Programming Lattice-Based Modular Robots for Creating Programmable Matter.”</td>
    </tr>
    <tr>
      <th scope="row">Referees:</th>
      <td>
        Pr. Olivier SIMONIN, INSA Lyon
        <br>
        Pr. S&aacute;ndor FEKETE, Techniche Universität Braunschweig
        <br>
        Pr. Auke Jan IJSPEERT, Ecole Polytechnique Fédérale de Lausanne
      </td>
    </tr>
    <tr>
      <th scope="row">Examiners:</th>
      <td>
        Assoc. Pr. Nikolaus CORRELL, University of Colorado Boulder
        <br>
        Pr. Julien BOURGEOIS, FEMTO-ST/DISC
      </td>
    </tr>
    <tr>
      <th scope="row">Abstract:</th>
      <td>
        <p>Producing programmable matter made up of micro-robots is no longer a science-fiction hypothesis! Indeed,
          researchers from the Programmable Matter Consortium have set a short-term goal
          to produce the first autonomous robots of 3.6 millimeter-diameter able to latch and move
          to build three-dimensional objects. </p>
        <p>This dissertation presents several results that are part of this adventure, starting
          with the design of two different geometries of micro-robots that allow them to move in a
          regular lattice using their neighbors. </p>
        <p>The 3D Catom connects each robot of the lattice to one or more of its twelve neighbors,
          and makes the rotation of a robot easier. </p>
        <p>The Datom is able to change its shape, together with one of its neighbors, to move through
          the lattice.</p>
        <p>A selection of some distributed algorithms that allow a set of robots to perform
          fundamental tasks is then detailed: an efficient distributed election of a central module
          of the system and the ability to store and access the target geometrical shape that the
          robots have to build.</p>
        <p>The last part presents several works on the self-reconfiguration of a set of micro-robots,
          in 2D and then in 3D. </p>
        <p>The last work is based on an alternative representation of an object: it is, in fact,
          divided into an inner part, formed by a scaffolding of micro-robots, and an outer cover
          completing the visual rendering of the object. The algorithm presented here exploits this representation to
          build this scaffolding by
          taking advantage of the multiple branches to parallelize its construction.</p>
        <p>Finally, another algorithm aims to cover this structure with a thin layer of micro-robots.
          This dissertation concludes with an assessment and a discussion on my future work to permit
          these robots to self-organize more efficiently to define even more realistic objects.</p>
      </td>
    </tr>
    <tr>
      <th scope="row">Keywords:</th>
      <td>Programmable Matter, Distributed Algorithm, Modular Robot Design, Self-Reconfiguration algorithm.</td>
    </tr>
    <tr>
      <th scope="row">Resources:</th>
      <td><a target="_blank"
             href="https://etudiants-stgi.pu-pm.univ-fcomte.fr/tp_bpiranda/doc/rapportHDRBenoitPiranda.pdf"><img
        width="3%"
        src="https://upload.wikimedia.org/wikipedia/commons/thumb/8/87/PDF_file_icon.svg/1200px-PDF_file_icon.svg.png"></a>
      </td>
    </tr>
    </tbody>
  </table>

  <h2 #thesis class="display-6">Thesis in Computer Sciences at the Marne-La-Vallée University</h2>
  <p>CIFRE-French Ministry of Research Training in Industry Convention with Direction des Constructions Navales (DCN
    Ingénierie) in Toulon (Var), defended 1999 January 20th</p>
  <table class="table">
    <tbody>
    <tr>
      <th scope="row">Title:</th>
      <td>“Rendu réaliste et surfaces complexes : application à la simulation du milieu maritime.”</td>
    </tr>
    <tr>
      <th scope="row">Research Advisor:</th>
      <td>Pr. Didier Arquès</td>
    </tr>
    <tr>
      <th scope="row">Committee:</th>
      <td>
        Pr. René CAUBET, Université de Toulouse
        <br>
        Pr. Bernard PEROCHE, Université de Saint-Étienne
        <br>
        M. Paul GENTRIC, Ingénieur DCN
        <br>
        Pr. Kadi BOUATOUCH, Université de Rennes 1
        <br>
        Dr. Sylvain MICHELIN, Université de Marne-la-Vallée
        <br>
        Pr. Dominique PERRIN, Université de Marne-la-Vallée
        <br>
        Pr. Claude SECROUN , Université de Reims
      </td>
    </tr>
    <tr>
      <th scope="row">Abstract:</th>
      <td>
        <p>The works presented in this thesis concern the realistic rendering and the modelisation of complex surfaces
          including an application to the image synthesis of maritime scenes realised in collaboration with DCN
          Ingénierie. We study two important problems of image synthesis: simulating precisely the exchanges of energy
          that appear in presence of specularly reflective surfaces and participating media, and modelling the complex
          surfaces as for example the surface of the sea.</p>
        <p>The first part presents a state of the art on the models used in image synthesis. We propose here, the laws
          and physical models which describe the emission of energy and the interactions between light and objects. Then
          we present the main illumination models and more precisely the algorithm called radiosity, which use these
          laws to generate realistic synthesised images. We conclude this first part with a presentation of the main
          models which permit the description of the surface of objets and particularly the surface of the sea.</p>
        <p>The second part of this document shows the results of our research works. We propose a new extension of the
          radiosity model that allows to treat simultaneously the specular reflections and participating media, and a
          method - using words - that permits to identify and classify the different exchanges appearing in a scene. We
          present then a new model of representation of complex surfaces based on the definition of atlas of discoid and
          we finally rewrite the model of radiosity to integrate this new model of representation.</p>
        <p>The third part, more practical, proposes the adaptation of the previous algorithms to the simulation of
          maritime scenes for visible and infrared radiations.</p>
        <p>The last part (annexes) contains a presentation of the software developed during this thesis.</p>
      </td>
    </tr>
    <tr>
      <th scope="row">Keywords:</th>
      <td>image synthesis, illumination models, radiosity, representation of complex surfaces.</td>
    </tr>
    <tr>
      <th scope="row">Resources:</th>
      <td><a target="_blank"
             href="http://etudiants-stgi.univ-fcomte.fr/tp_bpiranda/doc/rapportTheseBenoitPiranda.pdf">
        <img width="3%" src="https://upload.wikimedia.org/wikipedia/commons/thumb/8/87/PDF_file_icon.svg/1200px-PDF_file_icon.svg.png"></a>
      </td>
    </tr>
    </tbody>
  </table>

  <h1 #directed class="display-6">Directed or co-supervised Thesis</h1>
  <div *ngFor="let unit of publication">
    <div class="card">
      <div class="card-header">
        <h5 class="card-title">{{unit.title}}</h5>
      </div>
      <div class="card-body">
        Author : {{unit.author}}.<br>
        <span *ngIf="unit.direction.length == 1">Supervisor:
          <span *ngIf="!unit.direction[0].link">{{unit.direction[0].name}}</span>
          <a *ngIf="unit.direction[0].link" target="_blank" href="{{unit.direction[0].link}}">{{unit.direction[0].name}}</a>
        </span>
        <span *ngIf="unit.direction.length > 1">Supervisors:
        <span *ngFor="let author of unit.direction; let isFirst = first">
          <span *ngIf="!author.link">{{author.name}}</span>
          <span *ngIf="!isFirst">&nbsp;|&nbsp;{{ index }}</span>
          <a *ngIf="author.link" target="_blank" href="{{author.link}}">{{author.name}}</a> ({{author.participation}})
        </span>
        </span><br>
        <span *ngIf="unit.document">Manuscript:&nbsp;<a target="_blank" href="{{unit.document}}"><img width="3%" src="https://upload.wikimedia.org/wikipedia/commons/thumb/8/87/PDF_file_icon.svg/1200px-PDF_file_icon.svg.png"></a></span>
      </div>
      <div class="card-footer">
        {{unit.starting}} - {{unit.ending}}
      </div>
    </div>
  </div>

</div>
<app-back-to-top></app-back-to-top>
