.card{
  margin: 10px;
}

table{
  text-align: justify;
}

.toComponents{
  color: #007bff;
  cursor: pointer;
}

.toComponents:hover{
  text-decoration: underline;
}

.btn-toggle{
  position: relative;
  float: right;
  bottom: 60px;
}

ol {
  counter-reset: list;
}

ol > li {
  list-style: none;
  position: relative;
}

ol > li:before {
  content: "[" counter(list) "]\2003";
  counter-increment: list;
  left: -40px;
  padding-right: 10px;
  position: absolute;
  text-align: right;
  width: 40px;
}

@media screen and (max-width: 1000px){
  .jumbotron{
    margin-top: 15%;
  }
  youtube-player{
    display: none;
  }
  table{
    font-size: 8pt;
  }
}

