<app-header></app-header>
<div class="container" style="margin-top: 10%;vertical-align: center; position: relative">
  <div class="row">
    <div class="col-4">
      <img class="portraitback" src="assets/profile.jpg">
    </div>
    <div class="col-8">
      <h1>Dr. Benoît Piranda &nbsp;<a target="_blank" href="mailto:benoit.piranda@univ-fcomte.fr"><i class="far fa-envelope"></i></a></h1>
      <h4><i>Associate Professor, Ph.D. HDR</i></h4>
      <p><img src="https://info.orcid.org/wp-content/uploads/2020/12/orcid_16x16.gif"/>&nbsp;<a href="https://orcid.org/
0000-0003-2149-871X">0000-0003-2149-871X</a></p>
      <h5><i class="fas fa-file-pdf"></i>&nbsp;Curriculum Vitae</h5>
      <p style="margin-left: 20px; margin-bottom: 5%"><a href="assets/CV/CV.pdf" download="cv_Benoit_Piranda.pdf">PDF version</a>
      </p>

      <h5><i class="fas fa-microscope"></i>&nbsp;Research</h5>
      <p style="margin-left: 20px; margin-bottom: 5%">
        Member of Computer Science Department, FEMTO-ST Institute, CNRS&nbsp;<a target="_blank" href="https://www.femto-st.fr/en/femto-people/bpiranda"><i class="fas fa-globe"></i></a><br/>
        Head of the <i>Distributed Intelligent Micro-Systems</i> team.<br/>
        Member of the Programmable Matter Consortium.&nbsp;<a target="_blank" href="https://www.programmable-matter.com/"><i class="fas fa-globe"></i></a><br/>
        <i>VisibleSim</i> simulator development leader.&nbsp;<a target="_blank" href="https://www.programmable-matter.com/simulation"><i class="fas fa-globe"></i></a>&nbsp;
        <a target="_blank" href="https://github.com/ProgrammableMatterProject/VisibleSim"><i class="fab fa-github"></i></a>
      </p>

      <h5><i class="fas fa-chalkboard-teacher"></i>&nbsp;Teaching</h5>
      <p style="margin-left: 20px; margin-bottom: 5%">
        Member of STGI Department, University of Franche-Comt&eacute;.&nbsp;<a target="_blank" href="https://ufr-stgi.univ-fcomte.fr/"><i class="fas fa-globe"></i></a><br/>
        Teaching supervisor of the Master Internet Of Things (IOT).&nbsp;<a target="_blank" href="https://www.ubfc.fr/formations/masters/master-iot/"><i class="fas fa-globe"></i></a>
      </p>

      <h5><i class="fas fa-user-tie"></i>&nbsp;Organization of conferences</h5>
      <p style="margin-left: 20px; margin-bottom: 5%">
        Executive General Chair at Distributed Autonomous Robotic System&nbsp;(DARS'22). <a target="_blank" href="https://dars2022.org"><i class="fas fa-globe"></i></a>
      </p>

      <app-map></app-map>

    </div>
  </div>
</div>

