<div class="container">
  <h1 class="display-1">Oops, something went wrong !</h1>

  <div class="content">
    <h2>The page you are looking for does not exist or is not yet available.</h2>
  </div>

  <div class="row">
    <div class="col-3">
      <button routerLink="/education" class="btn btn-outline-primary">Education</button>
    </div>
    <div class="col-3">
      <button routerLink="/research" class="btn btn-outline-primary">Research</button>
    </div>
    <div class="col-3">
      <button routerLink="/publications" class="btn btn-outline-primary">Publications</button>
    </div>
    <div class="col-3">
      <button routerLink="/about" class="btn btn-outline-primary">About</button>
    </div>
  </div>

</div>
