<app-header></app-header>
<div class="container">
    <div class="jumbotron">
      <h1 class="display-4">Self-reconfiguration with VisibleSim simulator</h1>
      <p class="lead">This tutorial shows how to develop applications for VisibleSim in C++ using mobile robots.
        A first basic application is detailed in this page showing how to:
      </p>
      <ul>
        <li>
          Detect if a robot can move,
        </li>
        <li>
          Compute its destination.
        </li>
        <li>
          Send an event to produce the motion.
        </li>
        <li>
          Detect the end of the motion.
        </li>
      </ul>
    </div>

    <h2>The context</h2>
    <p>We will here create an application using hexanodes, which are robots that are able to move in an hexagonal lattice, in turning around a neighbor, to the left or to the right.</p>

  <h3>Detect motions</h3>
  <p>This first code shows how to detect if a robot can move or not. We use the <samp>getAllMotionsForModule()</samp> to
    get the list of available motions. For hexanodes, two conditions only may prevent a motion:</p>
  <ul>
    <li>
      The robot is in the interior of the configuration, or locked by neighbors.
    </li>
    <li>
      The destination of the robot is out of the grid.
    </li>
  </ul>
  <p>Warning to include the two fillowing libraries in the ".h" file of your app:</p>
  <textarea highlight-js [lang]="'c++'">
#include "robots/hexanodes/hexanodesMotionEvents.h"
#include "robots/hexanodes/hexanodesMotionEngine.h"
  </textarea>

  <textarea highlight-js [lang]="'c++'">
    //count motions
    vector<HexanodesMotion*> tab = Hexanodes::getWorld()->getAllMotionsForModule(module);
    console << "#motion=" << tab.size() << "\n";
    setColor(tab.size()==0?GREY:(tab.size()==1?ORANGE:GREEN));
  </textarea>

  <p>In this code, we count how many motions are available and we color the robot depending on the value. The figure below
    shows a result for the <a href="https://etudiants-stgi.pu-pm.univ-fcomte.fr/tp_bpiranda/matiereProgrammable/config/config_reconf1.xml"><samp>config_reconf1.xml</samp></a> configuration file.</p>
  <img class="exampleImg" src="https://etudiants-stgi.pu-pm.univ-fcomte.fr/tp_bpiranda/matiereProgrammable/images/snap03.png" alt="Simulation">

  <h3>Target</h3>
  <p>The self-reconfiguration consists in moving robots to construct a new shape. The xml config file allows to define this shape in the <samp>target</samp> section. This section is very similar to the <samp>blockList</samp> section given a list of positions of robot building the goal shape (we can also precise a color associated to the target position).</p>
  <textarea highlight-js [lang]="'xml'">
    <targetList>
  <target format="grid">
    <cell position="4,4,0"/>
    <cell position="5,4,0"/>
    <cell position="6,4,0"/>
    <cell position="7,4,0"/>
    <cell position="4,5,0"/>
    <cell position="5,5,0"/>
    <cell position="6,5,0"/>
    <cell position="7,5,0"/>
  </target>
</targetList>
  </textarea>

  <p>Each robot knows if a cell of the lattice is inside the target or not, using the following code:</p>
  <textarea highlight-js [lang]="'c++'">
    //setColor(RED)
    if (target && target->isInTarget(module->position)) {
      setColor(RED);
    }
  </textarea>

  <p>Test your program on this configuration file: <a href="https://etudiants-stgi.pu-pm.univ-fcomte.fr/tp_bpiranda/matiereProgrammable/config/config_target.xml"><samp>config_target.xml</samp></a>.</p>
  <h3>Displacement</h3>

  <p>To access to all function of the example, you must include these two ".h" files</p>
  <textarea highlight-js [lang]="'c++'">
#include "robots/hexanodes/hexanodesMotionEvents.h"
#include "robots/hexanodes/hexanodesMotionEngine.h"
  </textarea>


  <p>The motion of a robot is activated by an event, in the case of <samp>Hexanodes</samp> we use <samp>HexanodesMotionStartEvent()</samp>. After the motion, the method of the current codeBlock <samp>onMotionEnd()</samp> is automatically launched.</p>
  <textarea highlight-js [lang]="'c++'">
    HexanodesMotionStartEvent(Time t, BuildingBlock* module, const Cell3DPosition &fpos, HHLattice::Direction forient);
  </textarea>
  <ul>
    <li><samp>t</samp>: time of the start of the motion in microseconds, use <samp>scheduler->now()</samp> to calculate this time relatively to the current time.</li>
    <li><samp>module</samp>: the module receiving the motion event.</li>
    <li><samp>fpos</samp>: final position of the module after the motion.</li>
    <li><samp>forient</samp>: final orientation of the module after the motion.</li>
  </ul>

  <p>For example, the following code checks if the robot #11 may turn to the right then it sets it to blue and activates
    the motions. At the end of the motion, the robot is set to white.</p>
  <textarea highlight-js [lang]="'c++'">
void HexanodesDemoBlockCode::startup() {
    HexanodesWorld *wrl = Hexanodes::getWorld();
    if (node->blockId == 1) { // block#1 only will move at start
        // turn clockwise if possible!
        // first get the list of valid rotations
        vector<HexanodesMotion*> tab = wrl->getAllMotionsForModule(node);
         // search the first ClockWise rotations in the list
        vector<HexanodesMotion*>::const_iterator ci=tab.begin();
        while (ci!=tab.end() && (*ci)->direction!=motionDirection::CW) {
                ci++;
        }
        // if an element is found, activate this motion scheduling the startEvent
        if (ci!=tab.end()) {
            auto orient = (*ci)->getFinalOrientation(node->orientationCode);
            Cell3DPosition destination = (*ci)->getFinalPos(node->position);
            scheduler->schedule(new HexanodesMotionStartEvent(scheduler->now()+1000000, node,destination,orient));
        }
    }
}

void HexanodesDemoBlockCode::onMotionEnd() {
    setColor(WHITE);
}
  </textarea>

  <img class="exampleImg" src="https://etudiants-stgi.pu-pm.univ-fcomte.fr/tp_bpiranda/matiereProgrammable/images/snap06.png" alt="simulation">

  <h2>Exercise</h2>
  <p>Using the previous tools, propose a distributed algorithm that reconfigure the shape a) to the shape b). The problem mainly consists in ordering the displacements of modules to maintain the convexity of the configuration during the process.
    <br>A solution consist in using the algorithm developed during the previous tutorial to elect the moving module and the final position.</p>

  <p>You will need a function that detect if the current robot has a connector with a cell of the target. The following function search the first connector for which the cell (<samp>module->position + directionOfConnector</samp>) is in the target and is not already filled by a robot.</p>
  <textarea highlight-js [lang]="'c++'">
    //isConnector
    pair&lt;bool,Cell3DPosition> HexanodesDemoBlockCode::isConnector() {
    int n = 0;
    while (n &lt; HHLattice::MAX_NB_NEIGHBORS &&
            ( !lattice->isFree(module->position + (static_cast<HHLattice *>(lattice))->getNeighborRelativePos(
                    static_cast&lt;HHLattice::Direction>(n)))
                    ||
           !target->isInTarget(module->position + (static_cast<HHLattice *>(lattice))->getNeighborRelativePos(
                   static_cast&lt;HHLattice::Direction>(n))))) {
        n++;
    }
    return (n &lt; HHLattice::MAX_NB_NEIGHBORS?
      make_pair(true,module->position + (static_cast<HHLattice *>(lattice))->getNeighborRelativePos(
              static_cast&lt;HHLattice::Direction>(n)))
              :make_pair(false,Cell3DPosition(0,0,0)));
}
  </textarea>
  <p>For example, in the <samp><a href="https://etudiants-stgi.pu-pm.univ-fcomte.fr/tp_bpiranda/matiereProgrammable/config/config_L.xml" download="config_L.xml">config_L.xml</a>
  </samp> configuration file. The initial configuration is shown in the left below while the final configuration is drawn
    on the right. We will consider that it exists almost one common robot, here 4 drawn in Blue.
    <br>It is possible to process this reconfiguration in <i>52</i> basic motions.</p>

  <div class="row">
    <div class="col-lg">
      <img src="https://etudiants-stgi.pu-pm.univ-fcomte.fr/tp_bpiranda/matiereProgrammable/images/snap04.png" alt="blue start">
    </div>
    <div class="col-lg">
      <img src="https://etudiants-stgi.pu-pm.univ-fcomte.fr/tp_bpiranda/matiereProgrammable/images/snap05.png" alt="blue end">
    </div>
  </div>

  <p>You may also test your code with this other L shape configuration:
    <samp><a href="https://etudiants-stgi.pu-pm.univ-fcomte.fr/tp_bpiranda/matiereProgrammable/config/config_L2.xml" download >config_L2.xml</a></samp>.
    It exists a solution using 168 basic motions only (with the same code as the previous experiment of course).</p>

  <img src="https://etudiants-stgi.pu-pm.univ-fcomte.fr/tp_bpiranda/matiereProgrammable/images/snap07.png" alt="blue start">

  <p>Propose two other pairs of configuration and final shape (including an initial configuration with a hole) that can
    be reconfigured by your algorithm.</p>

  <p class="bg-warning">You can record a video of the program by using the key <kbd>Shift</kbd>+<kbd>S</kbd> to start
    recording, then <kbd>r</kbd> to start the simulation <kbd>Shift</kbd>+<kbd>S</kbd> to stop recording, wait a few seconds before quitting your application with <kbd>q</kbd>.</p>

  <h2>Work to return</h2>
  <p>Write your algorithm, test it on configurations proposed
    <a href="https://etudiants-stgi.pu-pm.univ-fcomte.fr/tp_bpiranda/matiereProgrammable/config/">at this address</a> and
    send it by <a href="mailto:benoit.piranda@univ-fcomte.fr?subject=[M2IOT_TP1]">mail</a> (one per group) for October the 20th:</p>
  <ul>
    <li>The list of members of the group,</li>
    <li>Your source directory,</li>
    <li>Your configuration xml files,</li>
    <li>Please report the number of basic motions used by your solution (it is reported by the simulator at the end of the simulation).
    You can also count the number of basic motions in your code and print it in the VisibleSim window by overriding the <samp>onInterfaceDraw()</samp>
    method as shown below.</li>
    <li>A short video showing the resolution for each configuration.</li>
  </ul>
  <textarea highlight-js [lang]="'c++'">
string HexanodesDemoBlockCode::onInterfaceDraw() {
  return "Number of motions: " + to_string(motionCounter);
}
  </textarea>
</div>
