pre{
  background-color: #f8f8f8;
  color: #333333;
  padding: 10px;
}

.exampleImg{
  position: relative;
  left: 25%;
  width: 50%;
  margin-top: 10px;
  margin-bottom: 20px;
}

textarea {
  overflow-y: scroll;
  height: 100px;
  resize: none; /* Remove this if you want the user to resize the textarea */
}
