<app-header></app-header>
<div class="container">
  <div class="jumbotron">
    <h1 class="display-4">Installing and Programming Blinky Blocks V2</h1>
  </div>

  <p>In order to contribute you need to install QtCeator open-source IDE.</p>

  <h2>Ubuntu installation of the QtCreator IDE</h2>
  <p>You must first install some packages:</p>
  <pre><code>
    sudo apt-get install qt5-default
    sudo apt-get install libqt5serialport5-dev
    sudo apt-get install qtcreator
  </code></pre>

  <p>Now two projects have to be compiled, first the libraries that contains the code, and then the apploader-CLI software.</p>

  <h3>Generate library <samp>libblinkyApploader.so</samp></h3>
  <p>Download the <a href="https://github.com/ProgrammableMatterProject/bb-apploader/archive/refs/heads/develop.zip">bb-apploader-develop.zip</a> archive and unzip it in your local workspace directory.
    Launch QtCreator with the <samp>blinkyApploader.pro</samp> project.
  </p>
  <pre><code>
    cd BBV2/abb-apploader-develop
    qtcreator blinkyApploader.pro
  </code></pre>

  <p>In the QtCreator interface:</p>
  <ol>
    <li>Select <kbd>Configure Project</kbd> menu.</li>
    <li>Then execute <kbd>Clean</kbd>, <kbd>qmake</kbd> and <kbd>Build all actions</kbd>.</li>
    <li>Check if the file <samp>/build-blinkyApploader-Desktop-Debug/libblinkyApploader.so.1.0.0</samp> (> 1MB) has been created.</li>
  </ol>

  <h3>Generate apploader-CLI software</h3>
  <p>Download the <a href="https://github.com/ProgrammableMatterProject/bb-cli/archive/refs/heads/master.zip">bb-cli-master.zip</a> archive and unzip it in your local workspace directory.
    Launch QtCreator with the <samp>apploader-cli.pro</samp> project.</p>
  <pre>
    <code>
      cd ../bb-cli-master
      qtcreator blinkyApploaderCLI.pro
    </code>
  </pre>

  <p>In the QtCreator interface:</p>
  <ol>
    <li>
      Select <kbd>Configure Project</kbd>
    </li>
    <li>
      In the .pro file, check that these lines are well written:
      <pre>
        <code>
          INCLUDEPATH += $$PWD/../apploader2.git
          DEPENDPATH += $$PWD/../apploader2.git
        </code>
      </pre>
    </li>
    <li>
      Then execute <kbd>Clean</kbd>, <kbd>Build all</kbd>.
    </li>
    <li>
      Check if the file <samp>/build-blinkyApploaderCLI-Desktop-Debug/blinkyApploaderCLI</samp> has been created.
    </li>
  </ol>

  <h3>Install the library in the default system path for libraries</h3>
  <p>Copy the library file in the local lib directory, and create links:</p>
  <pre>
    <code>
      sudo cp ../build-blinkyApploader-Desktop-Debug/libblinkyApploader.so.1.0.0 /usr/lib/
      sudo ln -s /usr/lib/libblinkyApploader.so.1.0.0 /usr/lib/libblinkyApploader.so.1.0
      sudo ln -s /usr/lib/libblinkyApploader.so.1.0.0 /usr/lib/libblinkyApploader.so.1
      sudo ln -s /usr/lib/libblinkyApploader.so.1.0.0 /usr/lib/libblinkyApploader.so
      sudo cp ../build-blinkyApploaderCLI-Desktop-Debug/blinkyApploaderCLI /usr/bin/.
    </code>
  </pre>

  <p>Change access rights to the USB port:</p>
  <pre>
    <code>
      sudo chmod 777 /dev/ttyUSB0
    </code>
  </pre>

  <p>Now everything should be ready to launch. Try to display the help message with:</p>
  <pre>
    <code>
      blinkyApploaderCLI -h`
    </code>
  </pre>

  <p>You must get:</p>
  <pre class="pre-scrollable">
    <code>
      Usage: ./blinkyApploaderCLI
    -h display this message
    -s  sets serial interface name
    -c  sets connected blinky to color R,G,B
    -t applies command to blocks ensemble (builds a spanning tree)
    -e erase configuration
    -p  starts sending HEX file to connected blinky ensemble
    -j 0xAAAAAAAA jumps to application address AAAAAAAA
    -k  sets blinky blocks software ID, starting with
    -g requests blinky block to send its configuration
    -w  sets blinky block variable  to value
                          	Application autostart -> 1 (jump auto after bootloading)
                          	Application autostart delay -> 2
                          	ID sur le spanning tree (doublons) -> 3
                          	Application address -> 4 (default is 0x8010000, param must be decimals)
                          	Commit configuration -> 128 (copy of previous -w modifications from RAM to Flash, with param 0)
    </code>
  </pre>

  <h3>Quitting the blinkyApploaderCLI program</h3>
  <p>You will see that, aside from running with the -h option, the application remains active even when network
    communications between the computer and the blinky blocks ended. Therefore, in the following instructions,
    when you read "Quitting" in the output, it means that the program has been closed by the Ctrl-C signal.
    Indeed, for each step, you must send this signal to your application before being able to send the next command.</p>

  <h3 id="#quit">Set ids to an ensemble of Blinky Block</h3>
  <p>First create a spanning tree to propagate the IDs:</p>
  <pre>
    <code>
      blinkyApploaderCLI -t

      Opening serial port on /dev/ttyUSB0
      Quitting
      Closing port
    </code>
  </pre>

  <p>Check the spanning tree in changing colors, all the Blinky Blocks must change their color (here to black). If only the block directly connected to serial changes color, then the spanning tree is not available.</p>
  <pre>
    <code>
      ./blinkyApploaderCLI -c 0

      Opening serial port on /dev/ttyUSB0
      Quitting
      Closing port
    </code>
  </pre>

  <p>Change the ids, the connected Blinky Block receives 1000, the next one 1001 in the spanning tree, and so on. The last bytes of the last hexadecimal number 03F0 is equal to the number of the last updated id.
    In this example, we had 8 blinky blocks, then the result is 1000 + 8 = 1008 (=3F0 in hexadecimal).</p>
  <pre>
    <code>
      ./blinkyApploaderCLI -k 1000

      Opening serial port on /dev/ttyUSB0
      8A EA 00 00 A0
      03 00 00 03 F0
      Quitting
      Closing port
    </code>
  </pre>

  <p>Set the color to red:</p>
  <pre>
    <code>
      ./blinkyApploaderCLI -c 100,0,0

      Opening serial port on /dev/ttyUSB0
      Quitting
      Closing port
    </code>
  </pre>

  <h2>Programming a set of Blocks</h2>
  <h3>Install the development environment</h3>
  <p>We now present how to send basic commands to the Blink blocks and how to send a whole application/program through the CLI/IHM software.<p>

  <p>Download the example of application (blank) <a href="https://github.com/ProgrammableMatterProject/bb-applications/archive/refs/heads/blank_application.zip">bb-applications-blank_application.zip</a>.</p>
  <p>Let’s take <samp>distance_gradient</samp> project as an example. First, you need to download
    <a href="https://etudiants-stgi.pu-pm.univ-fcomte.fr/tp_bpiranda/matiereProgrammable/BBV2/STM32IDE-1.0.1.tar.gz">OpenSTM32CubeIDE</a>
    and extract <samp>STM32IDE-1.0.1.tar.gz</samp> to your favorite folder.
    To launch the IDE, run <samp>stm32cubeide_1.0.1/stm32cubeide</samp>, then import our example as follows:
    <kbd>File</kbd>, <kbd>Open Projects from File System…</kbd>, <kbd>Import Source</kbd>, <kbd>Archive</kbd>, <kbd>appli.tar.gz</kbd>, <kbd>Finish</kbd></p>

  <h3>Compilation</h3>
  <p>Now the STM32 on our hardware is able to generate <samp>.hex</samp> compiled files. By default if you build the code you will obtain a <samp>.elf</samp> file. We need to tell our IDE to post-build convert it to  <samp>.hex</samp> as follows:<br>
    <kbd>Project</kbd>, <kbd>Properties</kbd>, <kbd>C/C++ Build</kbd>, <kbd>Settings</kbd>, <kbd>Tab: Build Steps</kbd>, <kbd>Post-build steps</kbd>, <kbd>Command</kbd> and write:<br>
    <samp>arm-none-eabi-objcopy -O ihex "$&#123;BuildArtifactFileBaseName&#125;.elf" "$&#123;BuildArtifactFileBaseName&#125;.hex"</samp><br>
    Then <kbd>Apply and Close</kbd></p>

  <p>You can now build all and search inside /Debug or /Release folder of your project, an <samp>sample.hex</samp> should
    have appeared aside the <samp>sample.elf</samp>. For flash size requirements, and since the Blinky Block has no
    debugging interface, you shall build the release version of the application.</p>

  <h3>Upload</h3>
  <p>To upload and deploy the application on the Blinky Block go back to the CLI directory and call:</p>
  <pre>
    <code>
      ./blinkyApploaderCLI -p ~/yourpathtoproject/Appli-ng/Release/Appli-ng.hex
    </code>
  </pre>
  <p>A series of 'Request for chunk XXX' should then appear.
    If nothing reflects on the Blinky Block disconnect/reconnect them and run the spanning tree command beforehand:</p>
  <pre>
    <code>
      ./blinkyApploaderCLI -t
    </code>
  </pre>
  <p>You shall see each Blinky Block with increasing green light intensity one after the other as a progress bar
    materializing the deployment of the bootloader and the application over each Blinky Block.</p>

  <h3>Run</h3>
  <p>When every Blinky Block is green and ready to run your example application, you need to tell them to jump to the
    address of the application within the flash memory with:</p>
  <pre>
    <code>
      ./blinkyApploaderCLI -j 0x8010000
    </code>
  </pre>

  <h3>Auto run</h3>
<p>In previous configuration, after powering each block is waiting for a message (-j 0x8010000) from the computer to run
  its program.</p>
  <p>It is possible to bypass this stage, in order to directly run the program a few seconds (dt) after powering the Blinky Block.</p>
  <pre>
    <code>
      ./blinkyApploaderCLI -t -w 1,1 -w 2,dt -w 128,1
    </code>
  </pre>
  <p>For example, the following code will configure the Blinky Block, in order it waits for 2 seconds before running the code:</p>
  <pre>
    <code>
      ./blinkyApploaderCLI -t -w 1,1 -w 2,2 -w 128,1
    </code>
  </pre>
  <p>Be careful, if you use dt=0, the Blinky Block will be programmable anymore, the unique way to recover it, consists
  in connecting a bridge between RX and TX connectors (#2 and #3 connectors) as shown in the following image.</p>
  <img src="assets/distributed_algo/img_BB_reset.png" alt="reset" />
</div>
