<app-header></app-header>
<div class="container">
<div class="jumbotron">
  <h1 class="display-4">IDE and Neighborhood</h1>
  <p class="lead">This tutorial shows how to develop applications for Blinky Blocks V2 in C.
    Many examples are detailed in this page:
  </p>
  <ul>
    <li>
      A first very basic application, allowing to identify a Blinky Block by ID,
    </li>
    <li>
      NeighborCount, which change the color of the Blinky Block depending on its number of neighbors.
    </li>
    <li>
      Neighborhood, play a sequence of colors to give the list of connected ports.
    </li>
    <li>
      Gradient, create a gradient of color depending on the distance to a leader identified by its ID.
    </li>
  </ul>
</div>

  <h2>Blinky Block V2 Hardware</h2>
  <div class="row">
    <div class="col-sm">
      <p>
        The hardware necessary to program Blinky Blocks is:
      </p>
      <ul>
        <li>
          A set of Blinky Blocks
        </li>
        <li>
          A powering and programming block, similar to Blinky Blocks but admitting a Jack USB connector.
        </li>
        <li>
          A power adapter 240V/5V 2A.
        </li>
        <li>
          A programmation cable USB/jack (TTL-232R-3V3-AJ)
        </li>
      </ul>
    </div>
    <div class="col-sm">
      <img style="width: 50%" src="https://etudiants-stgi.pu-pm.univ-fcomte.fr/tp_bpiranda/matiereProgrammable/images/materiel.png" alt="material">
    </div>
  </div>

  <h2>Development tools</h2>
  <h3>Installation</h3>
  <p>
    Please visit the <a class="alert-link" (click)="goToInstall()">installation tutorial page</a> to install the software in
    your computer, it is already installed in the computers of the University.
  </p>

  <h3>Download an application</h3>
  <p>
    Download the <a href="https://github.com/ProgrammableMatterProject/bb-applications/archive/refs/heads/blank_application.zip">sample application</a>,
    unzip it in your home directory, and open it with STM32CubeIDE using menu: <kbd>File/Import</kbd>,<kbd>General/Existing Projects into Workspace</kbd>.
    Then select the <b>bbv2-application.git</b>, click on <kbd>Select all</kbd> button and then <kbd>Finish</kbd>.
  </p>

  <h3>Compile and upload your first application</h3>
  <p>Connect the programming block to the computer and place it at the top of one of the Blinky Blocks.
    Use <kbd>blinkyApploaderCLI -h</kbd> to show the functions proposed by blinkyApploaderCLI
  </p>
  <pre class="pre-scrollable">
    <code>
      tp:~/Documents/BlinkyV2> blinkyApploaderCLI -h
      Usage: blinkyApploaderCLI
                         -h display this message
                         -s  sets serial interface name
                         -c  sets connected blinky to color R,G,B
                         -t applies command to blocks ensemble (builds a spanning tree)
                         -e erase configuration
                         -p  starts sending HEX file to connected blinky ensemble
                         -P  starts sending HEX file to connected blinky ensemble, with advanced reprogramming
                         -j 0xAAAAAAAA jumps to application address AAAAAAAA
                         -k  sets blinky blocks software ID, starting with
                         -g requests blinky block to send its configuration
                         -w  sets blinky block variable  to value
                            Application autostart -> 2
                            Application autostart delay -> 3
                            Commit configuration -> 128
    </code>
  </pre>
  <p>The following sequence allows to efficiently program blocks with the <samp>sample.hex</samp> file :</p>
  <pre class="pre-scrollable">
    <code>
sudo chmod 777 /dev/ttyUSB0
[sudo] password for bbv2:

      (construct a spanning tree)
tp:~/Documents/BlinkyV2> blinkyApploaderCLI -t
Opening serial port on /dev/ttyUSB0
layer2: ctor
Connected Blinky Block accepted me as father
It has 22 BB in its subtree
^CQuitting
layer2: dtor
Closing port

(turn color to cyan)
tp:~/Documents/BlinkyV2> blinkyApploaderCLI -c 0,50,50
Opening serial port on /dev/ttyUSB0
layer2: ctor
^CQuitting
layer2: dtor
Closing port

(set IDs from 1000 to 1021)
tp:~/Documents/BlinkyV2> blinkyApploaderCLI -k 1000
Opening serial port on /dev/ttyUSB0
layer2: ctor
Setting soft ID; last ID allocated = 1021
^CQuitting
layer2: dtor
Closing port

(go to fast programming mode, turn color to purple)
tp:~/Documents/BlinkyV2> blinkyApploaderCLI -a 1
Opening serial port on /dev/ttyUSB0
layer2: ctor
^CQuitting
layer2: dtor
Closing port

(send code to Blinky Blocks)
tp:~/Documents/BlinkyV2> blinkyApploaderCLI -p bbv2-application.git/Release/sample.hex
Opening serial port on /dev/ttyUSB0
layer2: ctor
Chunks map ok
Starting programming at address 8010000 with program size 20688 in 162 chunks
Request for chunk 0
Request for chunk 1
Request for chunk 2
Request for chunk 3
:   :   :   :   :   :
Request for chunk 158
Request for chunk 159
Request for chunk 160
Request for chunk 161
BB programming finished
^CQuitting
layer2: dtor
Closing port

(switch to run mode)
tp:~/Documents/BlinkyV2> blinkyApploaderCLI -j 0x8010000
Opening serial port on /dev/ttyUSB0
layer2: ctor
^CQuitting
layer2: dtor
Closing port
    </code>
  </pre>

<h3>Light the Blinky Block in color depending on its ID.</h3>
  <p>To create your first own code, you have to update the <samp>src/user_code.c</samp> file, and recompile the project
    to get a new <samp>sample.hex</samp> file.
  </p>
  <p>This first program has to turn on the internal LEDs of the Blinky Block, with a color that depends on the value of
    its ID, and make it blink with a frequency of 1Hz.
  <h4>Some functions used in this first example:</h4>
  <ul>
  <li>void <samp>setColor(uint8_t n)</samp>: updates the color of the Blinky Block with an indexed color n∈[0..17].</li>
  <textarea highlight-js [options]="{}" [lang]="'c'">
    typedef enum {
    RED, ORANGE, YELLOW, GREEN, CYAN, BLUE, PURPLE, GREY, WHITE,
    DARK_RED, DARK_ORANGE, BROWN, DARK_GREEN, DARK_BLUE, DARK_CYAN, DARK_PURPLE,
    DARK_GREY, BLACK, NB_COLORS
  } ColorName;
  </textarea>

  <li><samp>uint16_t getId()</samp>: returns the current ID of the Blinky Block (integer coded in 2 bytes).</li>
  <li><samp>uint32_t HAL_GetTick()</samp>: returns the time of the Blinky Blocks in ms (integer coded in 4 bytes).</li>
  </ul>
  <h4>The code of <samp>src/user_code.c</samp></h4>
  <textarea highlight-js [options]="{}" [lang]="'c'">
#include <BB.h>
#include <hwLED.h>
#include <layer3_generic.h>

uint32_t time=0,treatmentTime=0;
uint8_t lightOn=1;

void BBinit() {
  setColor(getId()%17);
  treatmentTime = HAL_GetTick();
}

void BBloop() &#123;
  time = HAL_GetTick();

  // update every 0.5s
  if (time > treatmentTime) &#123;
    treatmentTime = time+500;

    lightOn = !lightOn;
    setColor(lightOn?getId()%17:BLACK);
  }
}

uint8_t process_standard_packet(L3_packet *packet) {
  return 0;
}
</textarea>
<h4>Question</h4>
  <ol>
    <li>Update the code to blink at a frequency equal to 2Hz.</li>
    <li>Update the code to alternate two colors (id%18) and (17-id%18).</li>
  </ol>

  <h3>Debug: get the Blinky Blocks Log message in the computer console.</h3>
  <p>A usefull tool to debug embeded program with the connected computer,
    you must create a spanning tree from the connected USB block.</p>
  <textarea highlight-js [options]="{}" [lang]="'c'">
#include <stdio.h>
#include <string.h>

#include <BB.h>
#include <hwLED.h>
#include <layer3_generic.h>

uint32_t time=0,treatmentTime=0;

void BBinit() {
  setColor(getId()%17);
  treatmentTime = HAL_GetTick();
}

void BBloop() {
  time = HAL_GetTick();

  // update every 0.5s
  if (time > treatmentTime) {
    // use debug tool to print a string in the console
    treatmentTime = time+5000;
    char msg[20];
    sprintf(msg,"ID:%d",(int)getId());
    send_debug_message((uint8_t*)msg, strlen(msg));
  }
}

uint8_t process_standard_packet(L3_packet *packet) {
  return 0;
}
</textarea>

  <h3>Check the list of Blinky Blocks connections.</h3>

  <div class="row">
    <div class="col-sm">
      <p>This code describe the neighborhood of each block using a sequence of colors. It plays a sequence of colors
        corresponding to the port, if the color appears the port is connected, replaced by a black time otherwise.</p>
      <p>The <samp>direction</samp> enumeration associates a relative direction to the number of each port, the order of ports
        is due to hardware constraints, then use direction id rather than the port number. The port are oriented relatively to
        a landmark place on the top face of the Blinky Block as shown in the picture on the right.</p>
    </div>
    <div class="col-sm">
      <img style="width: 50%" src="../../../../assets/distributed_algo/img_BB_orientation.jpg" alt="orientation relatively to the landmark"/>
    </div>
  </div>



  <textarea highlight-js [options]="{}" [lang]="'c'">
#include <BB.h>
#include <hwLED.h>
#include <layer3_generic.h>

uint8_t currentPort=0;
uint32_t time=0,treatmentTime=0;

short dirByPort[] = { { 0,1,0},{ 0,0,-1},{ -1,0,0},{ 1,0,0},{ 0,-1,0},{ 0,0,1}};
enum direction { NORTH, BOTTOM, WEST,EAST,SOUTH,TOP};

void BBinit() {
  setColor(WHITE);
  treatmentTime=HAL_GetTick()+1000;
}

void BBloop() {
  time = HAL_GetTick();
  if (time > treatmentTime) {
	  treatmentTime=time+400;
	  switch (currentPort++) {
      	  case 0:
      		  setColor(is_connected(EAST)?RED:BLACK);
      	  break;
		  case 1:
			setColor(is_connected(NORTH)?ORANGE:BLACK);
		  break;
		  case 2:
			setColor(is_connected(WEST)?YELLOW:BLACK);
		  break;
		  case 3:
			setColor(is_connected(SOUTH)?GREEN:BLACK);
		  break;
		  case 4:
			setColor(is_connected(BOTTOM)?CYAN:BLACK);
		  break;
		  case 5:
			setColor(is_connected(TOP)?BLUE:BLACK);
		  break;
		  case 6:
			setColor(WHITE);
			treatmentTime+=600;
			currentPort=0;
		  break;
    }
  }
}

uint8_t process_standard_packet(L3_packet *packet) {
  return 0;
}
</textarea>

  <h4>Some more functions:</h4>
  <p>The following functions need to include <samp>speaker.h</samp> file in your code.</p>
  <ul>
    <li><samp>void setHWBUZZER(note, duration)</samp>, used to play a sound from a block. It plays the note given by its frequency
    (for example 440Hz for a A (La in french)) and a duration in milliseconds. Some constants are available to define the note
      <samp>(DO,RE,MI,FA,SOL,LA,SI)</samp>, and the standard durations <samp>(NOTE_BLACK, NOTE_WHITE)</samp>.</li>
    <li><samp>HAL_Delay(duration)</samp> waits 'duration' milliseconds, it is useful to wait between two consecutive notes,
      but no arriving message can be treated during this delay.</li>
  </ul>
<h4>Questions</h4>
  <ol>
  <li>Activate autostart mode</li>
  <li>Update your code to combine the color with a sound.</li>
  </ol>
</div>
