<app-header></app-header>
<div class="container">
  <div class="jumbotron">
    <h1 class="display-4">Broadcast / forecast, short project</h1>
    <p class="lead">This tutorial presents an central notion of Distributed Programming: the Broadcast followed by a Forecast. The Broadcast allows to send information step by step to all connected modules while the Forecast permit to acknowledge receipt in order to inform others that the Broadcast is completed (all modules have received the information).
      A second part proposes some subjects of short projects.
    </p>
  </div>
  <h2>Broadcast / Forecast</h2>
  <h3>Simple flooding example</h3>
  <p>The method of flooding (or broadcasting) is based on sending information from one block to all the others step by step.
    A first block sends a message to all its neighbors, and each of them resends it to its own neighbors, and so on.
    In order to avoid loops, i.e. messages that turns among several connected blocks, each block must memorize in a
    variable (<samp>received</samp>) if it has already received the message or not. Initially, all blocks affect
    (<samp>received = 0</samp>). The leader sends information to all his neighbors (and notes that he sent
    (<samp>received = 1</samp> ). When a block receives the message, if it hasn't already received it
    (<samp>received = 0</samp>) then it sends it to the other neighbors and assigns (<samp>received = 1</samp>).</p>
  <h4>An example</h4>
  <p>The following example allows to compute the distance of each block to the leader (arbitrarily the #1, which has
    a distance equal to 0).
    The distance variable is used both to store the distance from the leader and whether the message has already been
    received (<samp>distance = 255</samp>) while no distance message received). In ths code, the distance variable may also
    be updated if a neighbors sends a smaller value than memorized.</p>
  <h4>Communication functions</h4>
  <p>Communications are based on a few functions:</p>
  <ul>
    <li><samp>uint8_t sendMessage(port,data,data_size,mode)</samp> allows to send a message from a Blinky Block to the
      neighbor connected to 'port'. <samp>data</samp> is an array of bytes that stores the entire message data,
      while <samp>data_size</samp> is the size of <samp>data</samp> (or the subpart that will be sent).
      <samp>requires_ack</samp> specifies if the message must be acknowledged or not (0: no, 1: yes).</li>
    <li><samp>uint8_t process_standard_packet(L3_packet *packet)</samp> is the function defined on each Blinky Block.
      It will be automatically called when a message is arrived. <samp>packet</samp> point on a structure that embed
      some data about the received message:
      <ul>
        <li><samp>uint8_t io_port</samp> is the port on which the message is received.</li>
        <li><samp>uint8_t *packet_content</samp> array filled with the message data.</li>
      </ul>
    </li>
    <li><samp>uint8_t is_connected(port)</samp> returns 1 if their is a neighbor connected to 'port', 0 otherwise.
    Defined in <samp>serial.h</samp> include file.</li>
  </ul>
  <h4>Example code</h4>
<p>In this example, there is only one message '<samp>DISTANCE_MSG</samp>', but in order to be homogeneous with future codes
  that declare many different messages, we write the kind of the message in the first byte of the data.</p>
  <p>In the <samp>process_standard_packet</samp>, we read this byte and depending on the kind of message, we call the
  associate function.</p>
  <p>This method will make the code more readable and reduce the size of the receiving function.</p>

  <textarea highlight-js [options]="{}" [lang]="'c'">
#include <BB.h>
#include <hwLED.h>
#include <bb_global.h>
#include <serial.h>
#include <layer3_generic.h>

#define DISTANCE_MSG 1
uint32_t timeTreatment;
uint8_t distance=255;
uint8_t currentColor=BLACK;

void BBinit() {
    timeTreatment=HAL_GetTick();
    if (getId() == 1) {
    distance = 0;
    currentColor = RED;
    // send message to all neighbors
    uint8_t data[2]={DISTANCE_MSG, distance+1};
    for (uint8_t p=0; p<NB_SERIAL_PORT; ++p) {
    if (is_connected(p)) sendMessage(p,data,2, 1);
    }
  } else distance=255;
}

void BBloop() {
    uint32_t time = HAL_GetTick();
    if (time>timeTreatment) {
    timeTreatment=time+500; // update every 500ms
    setColor(currentColor);
  }
}

uint8_t distanceUpdate(L3_packet *packet) {
    uint8_t dist_msg = packet->packet_content[1];
    if (distance>dist_msg) {
    distance = dist_msg;
    currentColor = distance%16;
    uint8_t data[2]={DISTANCE_MSG, distance+1};
    for (uint8_t p=0; p<NB_SERIAL_PORT; ++p) {
    if (p!=packet->io_port && is_connected(p)) sendMessage(p,data,2, 1);
    }
  }
  return 1;
}

uint8_t process_standard_packet(L3_packet *packet) {
    switch (packet->packet_content[0]) {
    case DISTANCE_MSG:
      return distanceUpdate(packet);
    break;
  }
  return 0;
}
  </textarea>

  <h3>Broadcast followed by a Forecast</h3>
  <p>The limit of the previous code is that the leader that initially send the first set of messages is never alerted that every modules have received the message. It may be a problem if he want to send another message that needs that the previous one has been already received.</p>

  <p>The method consists in memorizing the number of the connector to the block who sent you the Distance Message in the parent variable. Then, counting the number of Flooding messages sent by each block (in the variable nbreWaitedAnswers) and then wait for the same number of acknowledgements. When a block has sent any Distance Message (no more neighbors) or if it has received every acknowledgements messages it sends a acknowledgement message to its parent.</p>

  <p>When the leader receives the last acknowledgement, it can be sure that every block has already received the distance message.</p>

  <p>Moreover, this methods constructs a spanning tree on the set of blocks as well each robot is able to send directly a message to the leader (following the parent links).</p>

  <textarea highlight-js [options]="{}" [lang]="'c'">
    #include <memory.h>
#include <BB.h>
#include <hwLED.h>
#include <bb_global.h>
#include <serial.h>
#include <layer3_generic.h>

#define DISTANCE_MSG 1
#define ACK_MSG 2
#define NO_PARENT 255
uint32_t timeTreatment;
uint8_t parent = NO_PARENT;
uint8_t nbWaitedAnswers=0;
uint8_t isBlinking=0,state=1,distance=0;
uint8_t currentColor=BLACK;

void BBinit() {
    timeTreatment=HAL_GetTick();
    if (getId() == 1) {
    nbWaitedAnswers=0;
    distance = 0;
    currentColor = RED;
    // send message to all neighbors
    uint8_t data[2]={DISTANCE_MSG, distance+1};
    for (uint8_t p=0; p<NB_SERIAL_PORT; ++p) {
    if (is_connected(p)) {
        sendMessage(p,data,2, 1);
        nbWaitedAnswers++;
      }
    }
  } else distance=255;
}

void BBloop() {
    uint32_t time = HAL_GetTick();
    if (time>timeTreatment) {
    timeTreatment=time+500; // update every 500ms
    if (isBlinking) {
    setColor(state?currentColor:BLACK);
    state=!state;
    } else {
    setColor(currentColor);
    }
  }
}

uint8_t distanceUpdate(L3_packet *packet) {
    uint8_t dist_msg = packet->packet_content[1];
    if (distance>dist_msg) {
    distance = dist_msg;
    currentColor= distance%16;
    nbWaitedAnswers=0;
    parent=packet->io_port;
    uint8_t data[2]={DISTANCE_MSG, distance+1};
    for (uint8_t p=0; p<NB_SERIAL_PORT; ++p) {
    if (p!=packet->io_port && is_connected(p)) {
        sendMessage(p,data,2, 1);
        nbWaitedAnswers++;
      }
    }
    if (nbWaitedAnswers==0) {
    if (parent!=NO_PARENT) {
		  uint8_t data[1]={ACK_MSG};
		  sendMessage(parent, data, 1, 1);
      } else {
    	  isBlinking=1;
    	  currentColor=RED;
      }
	}
} else {
  uint8_t data[1]={ACK_MSG};
  sendMessage(packet->io_port, data, 1, 1);
}
  return 1;
}

uint8_t ackFunc() {
    nbWaitedAnswers--;
    if (nbWaitedAnswers==0) {
		if (parent!=NO_PARENT) {
    uint8_t data[1]={ACK_MSG};
			sendMessage(parent, data, 1, 1);
		} else { // if root receives the message !
			isBlinking=1;
			currentColor=RED;
		}
	}
	return 1;
}


uint8_t process_standard_packet(L3_packet *packet) {
    switch (packet->packet_content[0]) {
    case DISTANCE_MSG:
      return distanceUpdate(packet);
    break;
    case ACK_MSG:
      return ackFunc();
    break;
  }
  return 0;
}
  </textarea>

  <h2>Sort projects</h2>
  <h3>Coordinates</h3>
  Write a program that defines a system of coordinates around the leader (ID=#1).<br>
  The leader has (0;0;0) as coordinates, and we define that:
  <ul>
    <li>
      SOUTH neighbor is at (−1;0;0),
    </li>
    <li>
      NORTH neighbor is at (+1;0;0),
    </li>
    <li>
      WEST neighbor is at (0;−1;0),
    </li>
    <li>
      EST neighbor is at (0;+1;0),
    </li>
    <li>
      UP neighbor is at (0;0;+1),
    </li>
    <li>
      DOWN neighbor is at.(0;0;−1)
    </li>
  </ul>

  <p class="bg-warning">Warning, negative coordinates are possible.</p>
  <p class="bg-warning">How to treat blocks that are not in the same orientation.</p>

</div>
