
.jumbotron{
  margin: 5px;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

@media screen and (max-width: 750px){
  .container{
    padding-top: 5%;
  }
}
