<div class="container">
  <img class="title portrait" src="assets/profile.jpg">
  <h1 class="title display-1">Benoît Piranda</h1>
  <div class="row">
    <div class="col-sm sommaire education"><h2 (click)="toEducation()">Education</h2></div>
    <div class="col-sm sommaire research"><h2 (click)="toResearch()">Research</h2></div>
    <div class="col-sm sommaire publication"><h2 (click)="toPublications()">Publications</h2></div>
  </div>
</div>
