.portrait{
  margin-top: 10%;
  border-radius: 45px;
  position: relative;
  width: 20%;
  left: 40%;
}

.sommaire{
  text-align: center;
  opacity: 1;
}

h2{
  cursor: pointer;
}

.education{
  animation-name: fadeInEducation;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 2s;
}


.research{
  animation-name: fadeInResearch;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 3s;
}

.publication{
  animation-name: fadeInPublication;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 4s;
}

.title{
  text-align: center;
  opacity: 1;
  animation-name: fadeInOpacity;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 1s;
}

@keyframes fadeInOpacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeInEducation {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeInPublication {
  0% {
    opacity: 0;
  }
  75% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeInResearch {
  0% {
    opacity: 0;
  }
  66% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
