<app-header></app-header>
<div class="container">
  <div *ngFor="let article of paper">
    <div *ngIf="article.id == id">
      <h1 style="text-align: justify">{{article.title}}</h1>
      <h3 style="text-align: right"><i>for {{article.event}} <span *ngIf="article.location">&mdash; {{article.location}}</span></i></h3>

      <div class="row">
        <div class="col authors" *ngFor="let content of article.authors">
          <img *ngIf="content.avatar" class="avatar" src="{{content.avatar}}">
          <img *ngIf="!content.avatar" class="avatar" src="assets/default-avatar.png"><br>
          <span *ngIf="!content.link">{{content.name}}</span>
          <a *ngIf="content.link" target="_blank" href="{{content.link}}">{{content.name}}</a>
        </div>
      </div>

      <h5>Abstract</h5>
      <div *ngFor="let content of article.text">
        <p class="content" [innerHTML]="content.paragraph"></p>
      </div>


      <h5>Related media</h5>
      <div class="row">
        <div class="col" *ngFor="let content of article.figures">
          <img class="paperImage" src="{{content.src}}">
          <p class="caption" [innerHTML]="content.caption"></p>
        </div>
      </div>
      <div *ngIf="article.video" class="video">
        <youtube-player
          videoId="{{article.video}}"
          suggestedQuality="highres"
          width="800px"
          height="500px"
        ></youtube-player>
      </div>

      <div class="row">
        <div class="col-6" *ngFor="let video of article.demos">
          <div class="youtube">
          <youtube-player
            videoId="{{video.video}}"
            suggestedQuality="highres"
            width="500px"
            height="350px"
          ></youtube-player>
          </div>
        </div>
      </div>

      <div *ngFor="let content of article.footnotes">
        <p>[{{content.index}}] : {{content.content}} <span *ngIf="content.url"> : <a target="_blank" href="{{content.url}}">{{content.url}}</a></span></p>
      </div>
    </div>
  </div>
</div>
