.content{
  font-family: Calibri;
  font-size: large;
  text-align: justify;
}

.container{
  margin-top: 7%;
}


.col{
  text-align: center;
}

.row{
  font-size: 8pt;
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
}

.authors{
  font-size: 12pt;
  text-align: center;
}

.avatar{
  object-fit: cover;
  width: 100px;
  height: 100px;
  object-position: 20% 0;
  border-radius: 15px;
}

.video{
  text-align: center;
  margin: 20px;
}

.paperImage{
  width: 500px;
}

@media screen and (max-width: 750px){
  h1{
    font-size: 16pt;
  }
  h3{
    font-size: 12pt;
  }
  img{
    max-width: 320px;
  }
  youtube-player{
    display: none;
  }

}
